* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v384_542 {
  width: 335px;
  height: 735px;
  background: url("../images/v384_542.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v384_543 {
  width: 360px;
  height: 735px;
  background: rgba(243,244,246,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v384_544 {
  width: 360px;
  height: 58px;
  background: rgba(22,163,74,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v384_545 {
  width: 360px;
  height: 58px;
  background: url("../images/v384_545.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 16px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v384_546 {
  width: 115px;
  height: 28px;
  background: url("../images/v384_546.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 16px;
  overflow: hidden;
}
.v384_547 {
  width: 115px;
  height: 28px;
  background: url("../images/v384_547.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v384_548 {
  width: 115px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v384_549 {
  width: 32px;
  height: 34px;
  background: url("../images/v384_549.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 327px;
  overflow: hidden;
}
.v384_550 {
  width: 32px;
  height: 32px;
  background: rgba(0,0,0,0);
  padding: 4px 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 9px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v384_551 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
  overflow: hidden;
}
.v384_552 {
  width: 3px;
  height: 0px;
  background: url("../images/v384_552.png");
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 10px;
  border: 2px solid rgba(255,255,255,1);
}
.v384_553 {
  width: 17px;
  height: 15px;
  background: url("../images/v384_553.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 3px;
  border: 2px solid rgba(255,255,255,1);
}
.v384_554 {
  width: 20px;
  height: 20px;
  background: rgba(239,68,68,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 16px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v384_555 {
  width: 12px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 3px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v384_556 {
  width: 360px;
  height: 850px;
  background: url("../images/v384_556.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 3px;
  overflow: hidden;
}
.v384_557 {
  width: 360px;
  height: 688px;
  background: url("../images/v384_557.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 16px 16px;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.v384_558 {
  width: 328px;
  height: 477px;
  background: url("../images/v384_558.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 210px;
  left: 15px;
  overflow: hidden;
}
.v384_559 {
  width: 188px;
  height: 36px;
  background: url("../images/v384_559.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 1px;
  overflow: hidden;
}
.v384_560 {
  width: 195px;
  height: 28px;
  background: url("../images/v384_560.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  overflow: hidden;
}
.v384_561 {
  width: 20px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 0px;
  overflow: hidden;
}
.v384_562 {
  width: 0px;
  background: url("../images/v384_562.png");
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 10px;
  border: 2px solid rgba(239,68,68,1);
}
.v384_563 {
  height: 3px;
  background: url("../images/v384_563.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 10px;
  border: 2px solid rgba(239,68,68,1);
}
.v384_564 {
  width: 16px;
  height: 16px;
  background: url("../images/v384_564.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  border: 2px solid rgba(239,68,68,1);
}
.v384_565 {
  width: 167px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2px;
  left: 28px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v384_566 {
  width: 45px;
  height: 36px;
  background: rgba(243,244,246,1);
  padding: 4px 4px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 282px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v384_567 {
  width: 44px;
  height: 28px;
  background: rgba(255,255,255,1);
  padding: 4px 12px;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v384_568 {
  width: 20px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4px;
  left: 12px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: center;
}
.v384_569 {
  width: 328px;
  height: 413px;
  background: url("../images/v384_569.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 52px;
  left: 0px;
  overflow: hidden;
}
.v384_570 {
  width: 328px;
  height: 170px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v384_571 {
  width: 324px;
  height: 170px;
  background: url("../images/v384_571.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 16px 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
  overflow: hidden;
}
.v384_572 {
  width: 292px;
  height: 24px;
  background: url("../images/v384_572.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 16px;
  overflow: hidden;
}
.v384_573 {
  width: 106px;
  height: 24px;
  background: url("../images/v384_573.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v384_574 {
  width: 106px;
  color: rgba(153,27,27,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v384_575 {
  width: 42px;
  height: 24px;
  background: rgba(254,226,226,1);
  padding: 4px 8px;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 262px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v384_576 {
  width: 23px;
  color: rgba(153,27,27,1);
  position: absolute;
  top: 4px;
  left: 8px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v384_577 {
  width: 216px;
  height: 20px;
  background: url("../images/v384_577.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 15px;
  overflow: hidden;
}
.v384_578 {
  width: 123px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 1px;
  left: 1px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v384_579 {
  width: 292px;
  height: 61px;
  background: url("../images/v384_579.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 16px;
  overflow: hidden;
}
.v384_580 {
  width: 278px;
  color: rgba(153,27,27,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v384_581 {
  width: 50px;
  color: rgba(153,27,27,1);
  position: absolute;
  top: 20px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v384_582 {
  width: 38px;
  color: rgba(153,27,27,1);
  position: absolute;
  top: 20px;
  left: 46px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v384_583 {
  width: 38px;
  color: rgba(153,27,27,1);
  position: absolute;
  top: 20px;
  left: 50px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v384_584 {
  width: 31px;
  color: rgba(153,27,27,1);
  position: absolute;
  top: 20px;
  left: 84px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v384_585 {
  width: 31px;
  color: rgba(153,27,27,1);
  position: absolute;
  top: 20px;
  left: 88px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v384_586 {
  width: 15px;
  color: rgba(153,27,27,1);
  position: absolute;
  top: 20px;
  left: 116px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v384_587 {
  width: 15px;
  color: rgba(153,27,27,1);
  position: absolute;
  top: 20px;
  left: 120px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v384_588 {
  width: 41px;
  color: rgba(153,27,27,1);
  position: absolute;
  top: 20px;
  left: 131px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v384_589 {
  width: 41px;
  color: rgba(153,27,27,1);
  position: absolute;
  top: 20px;
  left: 135px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v384_590 {
  width: 27px;
  color: rgba(153,27,27,1);
  position: absolute;
  top: 20px;
  left: 173px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v384_591 {
  width: 27px;
  color: rgba(153,27,27,1);
  position: absolute;
  top: 20px;
  left: 177px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v384_592 {
  width: 40px;
  color: rgba(153,27,27,1);
  position: absolute;
  top: 20px;
  left: 200px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v384_593 {
  width: 40px;
  color: rgba(153,27,27,1);
  position: absolute;
  top: 20px;
  left: 204px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v384_594 {
  width: 48px;
  color: rgba(153,27,27,1);
  position: absolute;
  top: 20px;
  left: 241px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v384_595 {
  width: 44px;
  color: rgba(153,27,27,1);
  position: absolute;
  top: 20px;
  left: 245px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v384_596 {
  width: 202px;
  color: rgba(153,27,27,1);
  position: absolute;
  top: 40px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v384_597 {
  width: 292px;
  height: 34px;
  background: url("../images/v384_597.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 120px;
  left: 16px;
  overflow: hidden;
}
.v384_598 {
  width: 140px;
  height: 16px;
  background: url("../images/v384_598.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 0px;
  overflow: hidden;
}
.v384_599 {
  width: 49px;
  color: rgba(107,114,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v384_600 {
  width: 91px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 0px;
  left: 49px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v384_601 {
  width: 91px;
  height: 34px;
  background: rgba(0,0,0,0);
  padding: 7px 13px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 200px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v384_602 {
  width: 43px;
  color: rgba(153,27,27,1);
  position: absolute;
  top: 7px;
  left: 13px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 11px;
  opacity: 1;
  text-align: center;
}
.v384_603 {
  width: 14px;
  height: 14px;
  background: url("../images/v384_603.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 64px;
  overflow: hidden;
}
.v384_604 {
  width: 14px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v384_605 {
  width: 5px;
  height: 5px;
  background: url("../images/v384_605.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
  border: 2px solid rgba(153,27,27,1);
}
.v384_606 {
  width: 5px;
  height: 5px;
  background: url("../images/v384_606.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
  border: 2px solid rgba(153,27,27,1);
}
.v384_607 {
  width: 328px;
  height: 170px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 184px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v384_608 {
  width: 324px;
  height: 170px;
  background: url("../images/v384_608.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 16px 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
  overflow: hidden;
}
.v384_609 {
  width: 216px;
  height: 24px;
  background: url("../images/v384_609.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 15px;
  overflow: hidden;
}
.v384_610 {
  width: 66px;
  height: 24px;
  background: url("../images/v384_610.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v384_611 {
  width: 66px;
  color: rgba(154,52,18,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v384_612 {
  width: 292px;
  height: 20px;
  background: url("../images/v384_612.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 16px;
  overflow: hidden;
}
.v384_613 {
  width: 222px;
  color: rgba(107,114,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v384_614 {
  width: 292px;
  height: 62px;
  background: url("../images/v384_614.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 16px;
  overflow: hidden;
}
.v384_615 {
  width: 289px;
  color: rgba(154,52,18,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v384_616 {
  width: 76px;
  color: rgba(154,52,18,1);
  position: absolute;
  top: 20px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v384_617 {
  width: 24px;
  color: rgba(154,52,18,1);
  position: absolute;
  top: 20px;
  left: 72px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v384_618 {
  width: 24px;
  color: rgba(154,52,18,1);
  position: absolute;
  top: 20px;
  left: 76px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v384_619 {
  width: 34px;
  color: rgba(154,52,18,1);
  position: absolute;
  top: 20px;
  left: 97px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v384_620 {
  width: 34px;
  color: rgba(154,52,18,1);
  position: absolute;
  top: 20px;
  left: 101px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v384_621 {
  width: 74px;
  color: rgba(154,52,18,1);
  position: absolute;
  top: 20px;
  left: 132px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v384_622 {
  width: 74px;
  color: rgba(154,52,18,1);
  position: absolute;
  top: 20px;
  left: 135px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v384_623 {
  width: 42px;
  color: rgba(154,52,18,1);
  position: absolute;
  top: 20px;
  left: 206px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v384_624 {
  width: 42px;
  color: rgba(154,52,18,1);
  position: absolute;
  top: 20px;
  left: 210px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v384_625 {
  width: 37px;
  color: rgba(154,52,18,1);
  position: absolute;
  top: 20px;
  left: 249px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v384_626 {
  width: 33px;
  color: rgba(154,52,18,1);
  position: absolute;
  top: 20px;
  left: 253px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v384_627 {
  width: 273px;
  color: rgba(154,52,18,1);
  position: absolute;
  top: 40px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v384_628 {
  width: 292px;
  height: 34px;
  background: url("../images/v384_628.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 128px;
  left: 16px;
  overflow: hidden;
}
.v384_629 {
  width: 140px;
  height: 16px;
  background: url("../images/v384_629.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 0px;
  overflow: hidden;
}
.v384_630 {
  width: 49px;
  color: rgba(107,114,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v384_631 {
  width: 91px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 0px;
  left: 49px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v384_632 {
  width: 91px;
  height: 34px;
  background: rgba(0,0,0,0);
  padding: 7px 13px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 200px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v384_633 {
  width: 43px;
  color: rgba(154,52,18,1);
  position: absolute;
  top: 7px;
  left: 13px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 11px;
  opacity: 1;
  text-align: center;
}
.v384_634 {
  width: 14px;
  height: 14px;
  background: url("../images/v384_634.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 64px;
  overflow: hidden;
}
.v384_635 {
  width: 14px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v384_636 {
  width: 5px;
  height: 5px;
  background: url("../images/v384_636.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
  border: 2px solid rgba(154,52,18,1);
}
.v384_637 {
  width: 5px;
  height: 5px;
  background: url("../images/v384_637.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
  border: 2px solid rgba(154,52,18,1);
}
.v384_638 {
  width: 61px;
  height: 24px;
  background: rgba(255,237,213,1);
  padding: 4px 8px;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 243px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v384_639 {
  width: 45px;
  color: rgba(154,52,18,1);
  position: absolute;
  top: 4px;
  left: 8px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v384_640 {
  width: 328px;
  height: 202px;
  background: rgba(254,252,232,1);
  padding: 17px 17px;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 14px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v384_641 {
  width: 294px;
  height: 24px;
  background: url("../images/v384_641.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 17px;
  overflow: hidden;
}
.v384_642 {
  width: 18px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 0px;
  overflow: hidden;
}
.v384_643 {
  width: 15px;
  height: 15px;
  background: url("../images/v384_643.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  border: 2px solid rgba(133,77,14,1);
}
.v384_644 {
  height: 3px;
  background: url("../images/v384_644.png");
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 9px;
  border: 2px solid rgba(133,77,14,1);
}
.v384_645 {
  width: 0px;
  background: url("../images/v384_645.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 9px;
  border: 2px solid rgba(133,77,14,1);
}
.v384_646 {
  width: 135px;
  color: rgba(133,77,14,1);
  position: absolute;
  top: 1px;
  left: 26px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v384_647 {
  width: 294px;
  height: 60px;
  background: url("../images/v384_647.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 86px;
  left: 17px;
  overflow: hidden;
}
.v384_648 {
  width: 263px;
  color: rgba(161,98,7,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v384_649 {
  width: 294px;
  height: 34px;
  background: url("../images/v384_649.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 156px;
  left: 17px;
  overflow: hidden;
}
.v384_650 {
  width: 155px;
  height: 34px;
  background: rgba(0,0,0,0);
  padding: 7px 13px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v384_651 {
  width: 129px;
  color: rgba(133,77,14,1);
  position: absolute;
  top: 7px;
  left: 13px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 11px;
  opacity: 1;
  text-align: center;
}
.v384_652 {
  width: 360px;
  height: 64px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 671px;
  left: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v384_653 {
  width: 375px;
  height: 64px;
  background: url("../images/v384_653.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v384_654 {
  width: 75px;
  height: 64px;
  background: url("../images/v384_654.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v384_655 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 25px;
  overflow: hidden;
}
.v384_656 {
  width: 6px;
  height: 9px;
  background: url("../images/v384_656.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 9px;
  border: 2px solid rgba(107,114,128,1);
}
.v384_657 {
  width: 18px;
  height: 18px;
  background: url("../images/v384_657.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 3px;
  border: 2px solid rgba(107,114,128,1);
}
.v384_658 {
  width: 32px;
  height: 16px;
  background: url("../images/v384_658.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 21px;
  overflow: hidden;
}
.v384_659 {
  width: 32px;
  color: rgba(107,114,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v384_660 {
  width: 75px;
  height: 64px;
  background: url("../images/v384_660.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 75px;
  overflow: hidden;
}
.v384_661 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 25px;
  overflow: hidden;
}
.v384_662 {
  width: 20px;
  height: 18px;
  background: url("../images/v384_662.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 1px;
  border: 2px solid rgba(107,114,128,1);
}
.v384_663 {
  height: 4px;
  background: url("../images/v384_663.png");
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 12px;
  border: 2px solid rgba(107,114,128,1);
}
.v384_664 {
  width: 0px;
  background: url("../images/v384_664.png");
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 12px;
  border: 2px solid rgba(107,114,128,1);
}
.v384_665 {
  width: 35px;
  height: 16px;
  background: url("../images/v384_665.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 19px;
  overflow: hidden;
}
.v384_666 {
  width: 60px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 0px;
  left: 8px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v384_667 {
  width: 75px;
  height: 64px;
  background: url("../images/v384_667.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 150px;
  overflow: hidden;
}
.v384_668 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 25px;
  overflow: hidden;
}
.v384_669 {
  width: 0px;
  background: url("../images/v384_669.png");
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 12px;
  border: 2px solid rgba(22,163,74,1);
}
.v384_670 {
  height: 4px;
  background: url("../images/v384_670.png");
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 12px;
  border: 2px solid rgba(22,163,74,1);
}
.v384_671 {
  width: 20px;
  height: 20px;
  background: url("../images/v384_671.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  border: 2px solid rgba(22,163,74,1);
}
.v384_672 {
  width: 42px;
  height: 16px;
  background: url("../images/v384_672.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 16px;
  overflow: hidden;
}
.v384_673 {
  width: 42px;
  color: rgba(22,163,74,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v384_674 {
  width: 75px;
  height: 64px;
  background: url("../images/v384_674.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 225px;
  overflow: hidden;
}
.v384_675 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 25px;
  overflow: hidden;
}
.v384_676 {
  width: 0px;
  background: url("../images/v384_676.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 3px;
  border: 2px solid rgba(107,114,128,1);
}
.v384_677 {
  width: 0px;
  background: url("../images/v384_677.png");
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 3px;
  border: 2px solid rgba(107,114,128,1);
}
.v384_678 {
  width: 0px;
  background: url("../images/v384_678.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 3px;
  border: 2px solid rgba(107,114,128,1);
}
.v384_679 {
  width: 13px;
  background: url("../images/v384_679.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 8px;
  border: 2px solid rgba(107,114,128,1);
}
.v384_680 {
  width: 13px;
  background: url("../images/v384_680.png");
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 8px;
  border: 2px solid rgba(107,114,128,1);
}
.v384_681 {
  width: 13px;
  background: url("../images/v384_681.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 8px;
  border: 2px solid rgba(107,114,128,1);
}
.v384_682 {
  width: 40px;
  height: 16px;
  background: url("../images/v384_682.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 17px;
  overflow: hidden;
}
.v384_683 {
  width: 40px;
  color: rgba(107,114,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v384_684 {
  width: 75px;
  height: 64px;
  background: url("../images/v384_684.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 300px;
  overflow: hidden;
}
.v384_685 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 25px;
  overflow: hidden;
}
.v384_686 {
  width: 14px;
  height: 6px;
  background: url("../images/v384_686.png");
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 5px;
  border: 2px solid rgba(107,114,128,1);
}
.v384_687 {
  width: 8px;
  height: 8px;
  background: url("../images/v384_687.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 8px;
  border: 2px solid rgba(107,114,128,1);
}
.v384_688 {
  width: 33px;
  height: 16px;
  background: url("../images/v384_688.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 20px;
  overflow: hidden;
}
.v384_689 {
  width: 33px;
  color: rgba(107,114,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
