* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v162_3690 {
  width: 360px;
  height: 800px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v162_3691 {
  width: 360px;
  height: 800px;
  background: rgba(243,244,246,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v162_3692 {
  width: 375px;
  height: 56px;
  background: rgba(22,163,74,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v162_3693 {
  width: 375px;
  height: 58px;
  background: url("../images/v162_3693.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 16px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v162_3694 {
  width: 55px;
  height: 28px;
  background: url("../images/v162_3694.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 16px;
  overflow: hidden;
}
.v162_3695 {
  width: 55px;
  height: 28px;
  background: url("../images/v162_3695.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v162_3696 {
  width: 209px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v162_3697 {
  width: 32px;
  height: 34px;
  background: url("../images/v162_3697.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 321px;
  overflow: hidden;
}
.v162_3698 {
  width: 32px;
  height: 32px;
  background: rgba(0,0,0,0);
  padding: 4px 4px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v162_3699 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
  overflow: hidden;
}
.v162_3700 {
  width: 3px;
  height: 0px;
  background: url("../images/v162_3700.png");
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 10px;
  border: 2px solid rgba(255,255,255,1);
}
.v162_3701 {
  width: 17px;
  height: 15px;
  background: url("../images/v162_3701.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 3px;
  border: 2px solid rgba(255,255,255,1);
}
.v162_3702 {
  width: 20px;
  height: 20px;
  background: rgba(239,68,68,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 16px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v162_3703 {
  width: 12px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 3px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v162_3704 {
  width: 375px;
  height: 496px;
  background: url("../images/v162_3704.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 189px;
  left: 0px;
  overflow: hidden;
}
.v162_3705 {
  width: 360px;
  height: 545px;
  background: url("../images/v162_3705.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 16px 16px;
  opacity: 1;
  position: absolute;
  top: 113px;
  left: 0px;
  overflow: hidden;
}
.v162_3706 {
  width: 328px;
  height: 513px;
  background: url("../images/v162_3706.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 16px;
  overflow: hidden;
}
.v162_3716 {
  width: 328px;
  height: 177px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 39px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v162_3717 {
  width: 328px;
  height: 59px;
  background: url("../images/v162_3717.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 16px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v162_3718 {
  width: 152px;
  height: 24px;
  background: url("../images/v162_3718.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 16px;
  overflow: hidden;
}
.v162_3719 {
  width: 152px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v162_3840 {
  width: 14px;
  background: url("../images/v162_3840.png");
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 297px;
  border: 2px solid rgba(0,0,0,1);
}
.v162_3842 {
  width: 328px;
  height: 59px;
  background: url("../images/v162_3842.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 16px;
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 0px;
  overflow: hidden;
}
.v162_3843 {
  width: 152px;
  height: 24px;
  background: url("../images/v162_3843.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 16px;
  overflow: hidden;
}
.v162_3844 {
  width: 152px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v162_3845 {
  width: 14px;
  background: url("../images/v162_3845.png");
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 297px;
  border: 2px solid rgba(0,0,0,1);
}
.v162_3847 {
  width: 328px;
  height: 59px;
  background: url("../images/v162_3847.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 16px;
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 1px;
  overflow: hidden;
}
.v162_3848 {
  width: 152px;
  height: 24px;
  background: url("../images/v162_3848.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 16px;
  overflow: hidden;
}
.v162_3849 {
  width: 152px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v162_3850 {
  width: 14px;
  background: url("../images/v162_3850.png");
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 297px;
  border: 2px solid rgba(0,0,0,1);
}
.v162_3852 {
  width: 152px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1px;
  left: 108px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v162_3854 {
  width: 16px;
  background: url("../images/v162_3854.png");
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 36px;
  border: 2px solid rgba(0,0,0,1);
}
.v337_2008 {
  width: 375px;
  height: 64px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 741px;
  left: 8px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v337_2009 {
  width: 375px;
  height: 64px;
  background: url("../images/v337_2009.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v337_2010 {
  width: 75px;
  height: 64px;
  background: url("../images/v337_2010.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v337_2011 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 26px;
  overflow: hidden;
}
.v337_2012 {
  width: 6px;
  height: 9px;
  background: url("../images/v337_2012.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 9px;
  border: 2px solid rgba(107,114,128,1);
}
.v337_2013 {
  width: 18px;
  height: 18px;
  background: url("../images/v337_2013.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 3px;
  border: 2px solid rgba(107,114,128,1);
}
.v337_2014 {
  width: 32px;
  height: 16px;
  background: url("../images/v337_2014.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 22px;
  overflow: hidden;
}
.v337_2015 {
  width: 32px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v337_2016 {
  width: 75px;
  height: 64px;
  background: url("../images/v337_2016.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 75px;
  overflow: hidden;
}
.v337_2017 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 26px;
  overflow: hidden;
}
.v337_2018 {
  width: 20px;
  height: 18px;
  background: url("../images/v337_2018.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  border: 2px solid rgba(107,114,128,1);
}
.v337_2019 {
  height: 4px;
  background: url("../images/v337_2019.png");
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 12px;
  border: 2px solid rgba(107,114,128,1);
}
.v337_2020 {
  width: 0px;
  background: url("../images/v337_2020.png");
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 12px;
  border: 2px solid rgba(107,114,128,1);
}
.v337_2021 {
  width: 35px;
  height: 16px;
  background: url("../images/v337_2021.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 20px;
  overflow: hidden;
}
.v337_2022 {
  width: 60px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 0px;
  left: 7px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v337_2023 {
  width: 75px;
  height: 64px;
  background: url("../images/v337_2023.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 150px;
  overflow: hidden;
}
.v337_2024 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 26px;
  overflow: hidden;
}
.v337_2025 {
  width: 0px;
  background: url("../images/v337_2025.png");
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 12px;
  border: 2px solid rgba(107,114,128,1);
}
.v337_2026 {
  height: 4px;
  background: url("../images/v337_2026.png");
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 12px;
  border: 2px solid rgba(107,114,128,1);
}
.v337_2027 {
  width: 20px;
  height: 20px;
  background: url("../images/v337_2027.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  border: 2px solid rgba(107,114,128,1);
}
.v337_2028 {
  width: 42px;
  height: 16px;
  background: url("../images/v337_2028.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 17px;
  overflow: hidden;
}
.v337_2029 {
  width: 42px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v337_2030 {
  width: 75px;
  height: 64px;
  background: url("../images/v337_2030.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 225px;
  overflow: hidden;
}
.v337_2031 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 26px;
  overflow: hidden;
}
.v337_2032 {
  width: 0px;
  background: url("../images/v337_2032.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 3px;
  border: 2px solid rgba(107,114,128,1);
}
.v337_2033 {
  width: 0px;
  background: url("../images/v337_2033.png");
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 3px;
  border: 2px solid rgba(107,114,128,1);
}
.v337_2034 {
  width: 0px;
  background: url("../images/v337_2034.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 3px;
  border: 2px solid rgba(107,114,128,1);
}
.v337_2035 {
  width: 13px;
  background: url("../images/v337_2035.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 8px;
  border: 2px solid rgba(107,114,128,1);
}
.v337_2036 {
  width: 13px;
  background: url("../images/v337_2036.png");
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 8px;
  border: 2px solid rgba(107,114,128,1);
}
.v337_2037 {
  width: 13px;
  background: url("../images/v337_2037.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 8px;
  border: 2px solid rgba(107,114,128,1);
}
.v337_2038 {
  width: 40px;
  height: 16px;
  background: url("../images/v337_2038.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 18px;
  overflow: hidden;
}
.v337_2039 {
  width: 40px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v337_2040 {
  width: 75px;
  height: 64px;
  background: url("../images/v337_2040.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 300px;
  overflow: hidden;
}
.v337_2041 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 26px;
  overflow: hidden;
}
.v337_2042 {
  width: 14px;
  height: 6px;
  background: url("../images/v337_2042.png");
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 5px;
  border: 2px solid rgba(22,163,74,1);
}
.v337_2043 {
  width: 8px;
  height: 8px;
  background: url("../images/v337_2043.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 8px;
  border: 2px solid rgba(22,163,74,1);
}
.v337_2044 {
  width: 33px;
  height: 16px;
  background: url("../images/v337_2044.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 21px;
  overflow: hidden;
}
.v337_2045 {
  width: 33px;
  color: rgba(22,163,74,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
