* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v177_1221 {
  width: 360px;
  height: 800px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v177_1222 {
  width: 350px;
  height: 746px;
  background: url("../images/v177_1222.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 18px 13px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 5px;
  overflow: hidden;
}
.v177_1223 {
  width: 331px;
  height: 651px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 19px;
  overflow: hidden;
}
.v177_1224 {
  width: 360px;
  height: 800px;
  background: rgba(243,244,246,1);
  opacity: 1;
  position: absolute;
  top: 58px;
  left: 39px;
  overflow: hidden;
}
.v337_1500 {
  width: 367px;
  height: 64px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 724px;
  left: 9px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v337_1501 {
  width: 375px;
  height: 64px;
  background: url("../images/v337_1501.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v337_1502 {
  width: 75px;
  height: 64px;
  background: url("../images/v337_1502.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v337_1503 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 26px;
  overflow: hidden;
}
.v337_1504 {
  width: 6px;
  height: 9px;
  background: url("../images/v337_1504.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 9px;
  border: 2px solid rgba(107,114,128,1);
}
.v337_1505 {
  width: 18px;
  height: 18px;
  background: url("../images/v337_1505.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 3px;
  border: 2px solid rgba(107,114,128,1);
}
.v337_1506 {
  width: 32px;
  height: 16px;
  background: url("../images/v337_1506.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 22px;
  overflow: hidden;
}
.v337_1507 {
  width: 32px;
  color: rgba(107,114,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v337_1508 {
  width: 75px;
  height: 64px;
  background: url("../images/v337_1508.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 75px;
  overflow: hidden;
}
.v337_1509 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 26px;
  overflow: hidden;
}
.v337_1510 {
  width: 20px;
  height: 18px;
  background: url("../images/v337_1510.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  border: 2px solid rgba(107,114,128,1);
}
.v337_1511 {
  height: 4px;
  background: url("../images/v337_1511.png");
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 12px;
  border: 2px solid rgba(107,114,128,1);
}
.v337_1512 {
  width: 0px;
  background: url("../images/v337_1512.png");
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 12px;
  border: 2px solid rgba(107,114,128,1);
}
.v337_1513 {
  width: 35px;
  height: 16px;
  background: url("../images/v337_1513.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 20px;
  overflow: hidden;
}
.v337_1514 {
  width: 60px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 0px;
  left: 7px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v337_1515 {
  width: 75px;
  height: 64px;
  background: url("../images/v337_1515.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 150px;
  overflow: hidden;
}
.v337_1516 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 26px;
  overflow: hidden;
}
.v337_1517 {
  width: 0px;
  background: url("../images/v337_1517.png");
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 12px;
  border: 2px solid rgba(107,114,128,1);
}
.v337_1518 {
  height: 4px;
  background: url("../images/v337_1518.png");
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 12px;
  border: 2px solid rgba(107,114,128,1);
}
.v337_1519 {
  width: 20px;
  height: 20px;
  background: url("../images/v337_1519.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  border: 2px solid rgba(107,114,128,1);
}
.v337_1520 {
  width: 42px;
  height: 16px;
  background: url("../images/v337_1520.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 17px;
  overflow: hidden;
}
.v337_1521 {
  width: 42px;
  color: rgba(107,114,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v337_1522 {
  width: 75px;
  height: 64px;
  background: url("../images/v337_1522.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 225px;
  overflow: hidden;
}
.v337_1523 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 26px;
  overflow: hidden;
}
.v337_1524 {
  width: 0px;
  background: url("../images/v337_1524.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 3px;
  border: 2px solid rgba(22,163,74,1);
}
.v337_1525 {
  width: 0px;
  background: url("../images/v337_1525.png");
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 3px;
  border: 2px solid rgba(22,163,74,1);
}
.v337_1526 {
  width: 0px;
  background: url("../images/v337_1526.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 3px;
  border: 2px solid rgba(22,163,74,1);
}
.v337_1527 {
  width: 13px;
  background: url("../images/v337_1527.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 8px;
  border: 2px solid rgba(22,163,74,1);
}
.v337_1528 {
  width: 13px;
  background: url("../images/v337_1528.png");
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 8px;
  border: 2px solid rgba(22,163,74,1);
}
.v337_1529 {
  width: 13px;
  background: url("../images/v337_1529.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 8px;
  border: 2px solid rgba(22,163,74,1);
}
.v337_1530 {
  width: 40px;
  height: 16px;
  background: url("../images/v337_1530.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 18px;
  overflow: hidden;
}
.v337_1531 {
  width: 40px;
  color: rgba(22,163,74,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v337_1532 {
  width: 75px;
  height: 64px;
  background: url("../images/v337_1532.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 300px;
  overflow: hidden;
}
.v337_1533 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 26px;
  overflow: hidden;
}
.v337_1534 {
  width: 14px;
  height: 6px;
  background: url("../images/v337_1534.png");
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 5px;
  border: 2px solid rgba(107,114,128,1);
}
.v337_1535 {
  width: 8px;
  height: 8px;
  background: url("../images/v337_1535.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 8px;
  border: 2px solid rgba(107,114,128,1);
}
.v337_1536 {
  width: 33px;
  height: 16px;
  background: url("../images/v337_1536.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 21px;
  overflow: hidden;
}
.v337_1537 {
  width: 33px;
  color: rgba(107,114,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v177_1226 {
  width: 375px;
  height: 58px;
  background: rgba(22,163,74,1);
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 1px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v177_1227 {
  width: 375px;
  height: 58px;
  background: url("../images/v177_1227.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 16px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v177_1228 {
  width: 97px;
  height: 28px;
  background: url("../images/v177_1228.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 16px;
  overflow: hidden;
}
.v177_1229 {
  width: 97px;
  height: 28px;
  background: url("../images/v177_1229.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 11px;
  overflow: hidden;
}
.v177_1230 {
  width: 222px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v177_1231 {
  width: 32px;
  height: 34px;
  background: url("../images/v177_1231.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 327px;
  overflow: hidden;
}
.v177_1232 {
  width: 32px;
  height: 32px;
  background: rgba(102,102,102,0.4000000059604645);
  padding: 4px 4px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v177_1233 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
  overflow: hidden;
}
.v177_1234 {
  width: 3px;
  height: 0px;
  background: url("../images/v177_1234.png");
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 11px;
  border: 2px solid rgba(255,255,255,1);
}
.v177_1235 {
  width: 17px;
  height: 15px;
  background: url("../images/v177_1235.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 4px;
  border: 2px solid rgba(255,255,255,1);
}
.v177_1236 {
  width: 20px;
  height: 20px;
  background: rgba(239,68,68,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 16px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v177_1237 {
  width: 12px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 4px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v177_1269 {
  width: 78px;
  height: 29px;
  background: rgba(22,101,52,1);
  padding: 2px 10px;
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 27px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v177_1270 {
  width: 77px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v177_1309 {
  width: 118px;
  height: 29px;
  background: rgba(22,163,74,1);
  padding: 2px 10px;
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 116px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v177_1310 {
  width: 116px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 11px;
  left: 2px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v177_1311 {
  width: 118px;
  height: 29px;
  background: rgba(22,163,74,1);
  padding: 2px 10px;
  opacity: 1;
  position: absolute;
  top: 59px;
  left: 247px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v177_1312 {
  width: 100px;
  height: 100px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 26px;
  overflow: hidden;
}
.v177_1313 {
  width: 116px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 11px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v177_1314 {
  width: 179px;
  color: rgba(22,163,74,1);
  position: absolute;
  top: 165px;
  left: 483px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v177_1315 {
  width: 328px;
  height: 269px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 104px;
  left: 29px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v177_1316 {
  width: 328px;
  height: 269px;
  background: url("../images/v177_1316.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 16px 16px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v177_1317 {
  width: 296px;
  height: 28px;
  background: url("../images/v177_1317.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 16px;
  overflow: hidden;
}
.v177_1318 {
  width: 171px;
  height: 28px;
  background: url("../images/v177_1318.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v177_1319 {
  width: 171px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v177_1320 {
  width: 296px;
  height: 20px;
  background: url("../images/v177_1320.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 16px;
  overflow: hidden;
}
.v177_1321 {
  width: 34px;
  color: rgba(107,114,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v177_1322 {
  width: 296px;
  height: 40px;
  background: url("../images/v177_1322.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 76px;
  left: 16px;
  overflow: hidden;
}
.v177_1323 {
  width: 272px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v177_1324 {
  width: 146px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 20px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v177_1325 {
  width: 296px;
  height: 64px;
  background: url("../images/v177_1325.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 128px;
  left: 16px;
  overflow: hidden;
}
.v177_1326 {
  width: 64px;
  height: 64px;
  background: url("../images/v177_1326.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v177_1327 {
  width: 64px;
  height: 64px;
  background: url("../images/v177_1327.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v177_1328 {
  width: 64px;
  height: 64px;
  background: url("../images/v177_1328.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 72px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v177_1329 {
  width: 64px;
  height: 64px;
  background: url("../images/v177_1329.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v187_4064 {
  width: 130px;
  height: 73px;
  background: url("../images/v187_4064.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v177_1330 {
  width: 296px;
  height: 49px;
  background: url("../images/v177_1330.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 13px 0px;
  opacity: 1;
  position: absolute;
  top: 204px;
  left: 16px;
  overflow: hidden;
}
.v177_1331 {
  width: 149px;
  height: 16px;
  background: url("../images/v177_1331.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 0px;
  overflow: hidden;
}
.v177_1332 {
  width: 14px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v177_1333 {
  width: 9px;
  height: 11px;
  background: url("../images/v177_1333.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 3px;
  border: 2px solid rgba(107,114,128,1);
}
.v177_1334 {
  width: 3px;
  height: 3px;
  background: url("../images/v177_1334.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 6px;
  border: 2px solid rgba(107,114,128,1);
}
.v177_1335 {
  width: 131px;
  height: 16px;
  background: url("../images/v177_1335.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  overflow: hidden;
}
.v177_1336 {
  width: 131px;
  color: rgba(107,114,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v177_1337 {
  width: 109px;
  height: 16px;
  background: url("../images/v177_1337.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 166px;
  overflow: hidden;
}
.v177_1338 {
  width: 14px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v177_1339 {
  width: 11px;
  height: 11px;
  background: url("../images/v177_1339.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
  border: 2px solid rgba(107,114,128,1);
}
.v177_1340 {
  width: 2px;
  height: 4px;
  background: url("../images/v177_1340.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 7px;
  border: 2px solid rgba(107,114,128,1);
}
.v177_1341 {
  width: 91px;
  height: 16px;
  background: url("../images/v177_1341.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  overflow: hidden;
}
.v177_1342 {
  width: 91px;
  color: rgba(107,114,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v177_1343 {
  width: 67px;
  height: 16px;
  background: url("../images/v177_1343.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 0px;
  overflow: hidden;
}
.v177_1344 {
  width: 14px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v177_1345 {
  width: 8px;
  height: 3px;
  background: url("../images/v177_1345.png");
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 3px;
  border: 2px solid rgba(107,114,128,1);
}
.v177_1346 {
  width: 4px;
  height: 4px;
  background: url("../images/v177_1346.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 5px;
  border: 2px solid rgba(107,114,128,1);
}
.v177_1347 {
  width: 49px;
  height: 16px;
  background: url("../images/v177_1347.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  overflow: hidden;
}
.v177_1348 {
  width: 49px;
  color: rgba(107,114,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v177_1349 {
  width: 328px;
  height: 269px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 388px;
  left: 30px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v177_1350 {
  width: 328px;
  height: 269px;
  background: url("../images/v177_1350.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 16px 16px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v177_1351 {
  width: 296px;
  height: 28px;
  background: url("../images/v177_1351.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 16px;
  overflow: hidden;
}
.v177_1352 {
  width: 208px;
  height: 28px;
  background: url("../images/v177_1352.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v177_1353 {
  width: 208px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v177_1354 {
  width: 296px;
  height: 20px;
  background: url("../images/v177_1354.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 16px;
  overflow: hidden;
}
.v177_1355 {
  width: 138px;
  color: rgba(107,114,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v177_1356 {
  width: 296px;
  height: 40px;
  background: url("../images/v177_1356.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 76px;
  left: 16px;
  overflow: hidden;
}
.v177_1357 {
  width: 286px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v177_1358 {
  width: 138px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 20px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v177_1359 {
  width: 296px;
  height: 64px;
  background: url("../images/v177_1359.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 128px;
  left: 16px;
  overflow: hidden;
}
.v177_1360 {
  width: 64px;
  height: 64px;
  background: url("../images/v177_1360.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v177_1361 {
  width: 64px;
  height: 64px;
  background: url("../images/v177_1361.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v177_1362 {
  width: 296px;
  height: 49px;
  background: url("../images/v177_1362.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 13px 0px;
  opacity: 1;
  position: absolute;
  top: 204px;
  left: 16px;
  overflow: hidden;
}
.v177_1363 {
  width: 126px;
  height: 16px;
  background: url("../images/v177_1363.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 0px;
  overflow: hidden;
}
.v177_1364 {
  width: 14px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v177_1365 {
  width: 9px;
  height: 11px;
  background: url("../images/v177_1365.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 3px;
  border: 2px solid rgba(107,114,128,1);
}
.v177_1366 {
  width: 3px;
  height: 3px;
  background: url("../images/v177_1366.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 6px;
  border: 2px solid rgba(107,114,128,1);
}
.v177_1367 {
  width: 108px;
  height: 16px;
  background: url("../images/v177_1367.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  overflow: hidden;
}
.v177_1368 {
  width: 108px;
  color: rgba(107,114,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v177_1369 {
  width: 109px;
  height: 16px;
  background: url("../images/v177_1369.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 143px;
  overflow: hidden;
}
.v177_1370 {
  width: 14px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v177_1371 {
  width: 11px;
  height: 11px;
  background: url("../images/v177_1371.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
  border: 2px solid rgba(107,114,128,1);
}
.v177_1372 {
  width: 2px;
  height: 4px;
  background: url("../images/v177_1372.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 7px;
  border: 2px solid rgba(107,114,128,1);
}
.v177_1373 {
  width: 91px;
  height: 16px;
  background: url("../images/v177_1373.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  overflow: hidden;
}
.v177_1374 {
  width: 91px;
  color: rgba(107,114,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v177_1375 {
  width: 86px;
  height: 16px;
  background: url("../images/v177_1375.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 0px;
  overflow: hidden;
}
.v177_1376 {
  width: 14px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v177_1377 {
  width: 8px;
  height: 3px;
  background: url("../images/v177_1377.png");
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 3px;
  border: 2px solid rgba(107,114,128,1);
}
.v177_1378 {
  width: 4px;
  height: 4px;
  background: url("../images/v177_1378.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 5px;
  border: 2px solid rgba(107,114,128,1);
}
.v177_1379 {
  width: 68px;
  height: 16px;
  background: url("../images/v177_1379.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  overflow: hidden;
}
.v177_1380 {
  width: 68px;
  color: rgba(107,114,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v177_1480 {
  width: 100px;
  height: 69px;
  background: url("../images/v177_1480.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 696px;
  left: 699px;
  overflow: hidden;
}
