* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v177_3471 {
  width: 351px;
  height: 747px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v177_3472 {
  width: 370px;
  height: 681px;
  background: url("../images/v177_3472.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 18px 13px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 54px;
  left: 0px;
  overflow: hidden;
}
.v177_3473 {
  width: 331px;
  height: 651px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 19px;
  overflow: hidden;
}
.v177_3474 {
  width: 381px;
  height: 801px;
  background: rgba(243,244,246,1);
  opacity: 1;
  position: absolute;
  top: 58px;
  left: 39px;
  overflow: hidden;
}
.v177_3475 {
  width: 375px;
  height: 65px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 671px;
  left: 6px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v177_3476 {
  width: 375px;
  height: 58px;
  background: rgba(22,163,74,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v177_3477 {
  width: 375px;
  height: 58px;
  background: url("../images/v177_3477.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 16px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v177_3478 {
  width: 97px;
  height: 28px;
  background: url("../images/v177_3478.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 16px;
  overflow: hidden;
}
.v177_3479 {
  width: 97px;
  height: 28px;
  background: url("../images/v177_3479.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 11px;
  overflow: hidden;
}
.v177_3480 {
  width: 198px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v177_3481 {
  width: 32px;
  height: 34px;
  background: url("../images/v177_3481.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 327px;
  overflow: hidden;
}
.v177_3482 {
  width: 32px;
  height: 32px;
  background: rgba(102,102,102,0.4000000059604645);
  padding: 4px 4px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v177_3483 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
  overflow: hidden;
}
.v177_3484 {
  width: 3px;
  height: 0px;
  background: url("../images/v177_3484.png");
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 11px;
  border: 2px solid rgba(255,255,255,1);
}
.v177_3485 {
  width: 17px;
  height: 15px;
  background: url("../images/v177_3485.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 4px;
  border: 2px solid rgba(255,255,255,1);
}
.v177_3486 {
  width: 20px;
  height: 20px;
  background: rgba(239,68,68,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 16px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v177_3487 {
  width: 12px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 4px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v177_3488 {
  width: 328px;
  height: 193px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 615px;
  left: 17px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v177_3489 {
  width: 328px;
  height: 193px;
  background: url("../images/v177_3489.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 16px 16px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v177_3490 {
  width: 296px;
  height: 28px;
  background: url("../images/v177_3490.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 16px;
  overflow: hidden;
}
.v177_3491 {
  width: 225px;
  height: 28px;
  background: url("../images/v177_3491.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v177_3492 {
  width: 225px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v177_3493 {
  width: 68px;
  height: 20px;
  background: rgba(220,252,231,1);
  padding: 2px 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 228px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v177_3494 {
  width: 48px;
  color: rgba(22,101,52,1);
  position: absolute;
  top: 2px;
  left: 10px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v177_3495 {
  width: 296px;
  height: 20px;
  background: url("../images/v177_3495.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 16px;
  overflow: hidden;
}
.v177_3496 {
  width: 22px;
  color: rgba(107,114,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v177_3497 {
  width: 296px;
  height: 40px;
  background: url("../images/v177_3497.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 76px;
  left: 16px;
  overflow: hidden;
}
.v177_3498 {
  width: 291px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v177_3499 {
  width: 172px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 20px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v177_3500 {
  width: 296px;
  height: 49px;
  background: url("../images/v177_3500.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 13px 0px;
  opacity: 1;
  position: absolute;
  top: 128px;
  left: 16px;
  overflow: hidden;
}
.v177_3501 {
  width: 156px;
  height: 16px;
  background: url("../images/v177_3501.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 0px;
  overflow: hidden;
}
.v177_3502 {
  width: 14px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v177_3503 {
  width: 9px;
  height: 11px;
  background: url("../images/v177_3503.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 3px;
  border: 2px solid rgba(107,114,128,1);
}
.v177_3504 {
  width: 3px;
  height: 3px;
  background: url("../images/v177_3504.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 6px;
  border: 2px solid rgba(107,114,128,1);
}
.v177_3505 {
  width: 138px;
  height: 16px;
  background: url("../images/v177_3505.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  overflow: hidden;
}
.v177_3506 {
  width: 138px;
  color: rgba(107,114,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v177_3507 {
  width: 109px;
  height: 16px;
  background: url("../images/v177_3507.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 0px;
  overflow: hidden;
}
.v177_3508 {
  width: 14px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v177_3509 {
  width: 11px;
  height: 11px;
  background: url("../images/v177_3509.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
  border: 2px solid rgba(107,114,128,1);
}
.v177_3510 {
  width: 2px;
  height: 4px;
  background: url("../images/v177_3510.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 7px;
  border: 2px solid rgba(107,114,128,1);
}
.v177_3511 {
  width: 91px;
  height: 16px;
  background: url("../images/v177_3511.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  overflow: hidden;
}
.v177_3512 {
  width: 91px;
  color: rgba(107,114,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v177_3513 {
  width: 67px;
  height: 16px;
  background: url("../images/v177_3513.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 126px;
  overflow: hidden;
}
.v177_3514 {
  width: 14px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v177_3515 {
  width: 8px;
  height: 3px;
  background: url("../images/v177_3515.png");
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 3px;
  border: 2px solid rgba(107,114,128,1);
}
.v177_3516 {
  width: 4px;
  height: 4px;
  background: url("../images/v177_3516.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 5px;
  border: 2px solid rgba(107,114,128,1);
}
.v177_3517 {
  width: 49px;
  height: 16px;
  background: url("../images/v177_3517.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  overflow: hidden;
}
.v177_3518 {
  width: 49px;
  color: rgba(107,114,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v177_3519 {
  width: 103px;
  height: 29px;
  background: rgba(22,163,74,1);
  padding: 2px 10px;
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 27px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v337_1930 {
  width: 367px;
  height: 64px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 672px;
  left: 6px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v337_1931 {
  width: 375px;
  height: 64px;
  background: url("../images/v337_1931.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v337_1932 {
  width: 75px;
  height: 64px;
  background: url("../images/v337_1932.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v337_1933 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 26px;
  overflow: hidden;
}
.v337_1934 {
  width: 6px;
  height: 9px;
  background: url("../images/v337_1934.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 9px;
  border: 2px solid rgba(107,114,128,1);
}
.v337_1935 {
  width: 18px;
  height: 18px;
  background: url("../images/v337_1935.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 3px;
  border: 2px solid rgba(107,114,128,1);
}
.v337_1936 {
  width: 32px;
  height: 16px;
  background: url("../images/v337_1936.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 22px;
  overflow: hidden;
}
.v337_1937 {
  width: 32px;
  color: rgba(107,114,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v337_1938 {
  width: 75px;
  height: 64px;
  background: url("../images/v337_1938.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 75px;
  overflow: hidden;
}
.v337_1939 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 26px;
  overflow: hidden;
}
.v337_1940 {
  width: 20px;
  height: 18px;
  background: url("../images/v337_1940.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  border: 2px solid rgba(107,114,128,1);
}
.v337_1941 {
  height: 4px;
  background: url("../images/v337_1941.png");
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 12px;
  border: 2px solid rgba(107,114,128,1);
}
.v337_1942 {
  width: 0px;
  background: url("../images/v337_1942.png");
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 12px;
  border: 2px solid rgba(107,114,128,1);
}
.v337_1943 {
  width: 35px;
  height: 16px;
  background: url("../images/v337_1943.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 20px;
  overflow: hidden;
}
.v337_1944 {
  width: 60px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 0px;
  left: 7px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v337_1945 {
  width: 75px;
  height: 64px;
  background: url("../images/v337_1945.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 150px;
  overflow: hidden;
}
.v337_1946 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 26px;
  overflow: hidden;
}
.v337_1947 {
  width: 0px;
  background: url("../images/v337_1947.png");
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 12px;
  border: 2px solid rgba(107,114,128,1);
}
.v337_1948 {
  height: 4px;
  background: url("../images/v337_1948.png");
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 12px;
  border: 2px solid rgba(107,114,128,1);
}
.v337_1949 {
  width: 20px;
  height: 20px;
  background: url("../images/v337_1949.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  border: 2px solid rgba(107,114,128,1);
}
.v337_1950 {
  width: 42px;
  height: 16px;
  background: url("../images/v337_1950.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 17px;
  overflow: hidden;
}
.v337_1951 {
  width: 42px;
  color: rgba(107,114,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v337_1952 {
  width: 75px;
  height: 64px;
  background: url("../images/v337_1952.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 225px;
  overflow: hidden;
}
.v337_1953 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 26px;
  overflow: hidden;
}
.v337_1954 {
  width: 0px;
  background: url("../images/v337_1954.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 3px;
  border: 2px solid rgba(22,163,74,1);
}
.v337_1955 {
  width: 0px;
  background: url("../images/v337_1955.png");
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 3px;
  border: 2px solid rgba(22,163,74,1);
}
.v337_1956 {
  width: 0px;
  background: url("../images/v337_1956.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 3px;
  border: 2px solid rgba(22,163,74,1);
}
.v337_1957 {
  width: 13px;
  background: url("../images/v337_1957.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 8px;
  border: 2px solid rgba(22,163,74,1);
}
.v337_1958 {
  width: 13px;
  background: url("../images/v337_1958.png");
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 8px;
  border: 2px solid rgba(22,163,74,1);
}
.v337_1959 {
  width: 13px;
  background: url("../images/v337_1959.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 8px;
  border: 2px solid rgba(22,163,74,1);
}
.v337_1960 {
  width: 40px;
  height: 16px;
  background: url("../images/v337_1960.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 18px;
  overflow: hidden;
}
.v337_1961 {
  width: 40px;
  color: rgba(22,163,74,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v337_1962 {
  width: 75px;
  height: 64px;
  background: url("../images/v337_1962.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 300px;
  overflow: hidden;
}
.v337_1963 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 26px;
  overflow: hidden;
}
.v337_1964 {
  width: 14px;
  height: 6px;
  background: url("../images/v337_1964.png");
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 5px;
  border: 2px solid rgba(107,114,128,1);
}
.v337_1965 {
  width: 8px;
  height: 8px;
  background: url("../images/v337_1965.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 8px;
  border: 2px solid rgba(107,114,128,1);
}
.v337_1966 {
  width: 33px;
  height: 16px;
  background: url("../images/v337_1966.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 21px;
  overflow: hidden;
}
.v337_1967 {
  width: 33px;
  color: rgba(107,114,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v177_3557 {
  width: 138px;
  height: 39px;
  background: rgba(22,163,74,1);
  padding: 2px 10px;
  opacity: 1;
  position: absolute;
  top: 78px;
  left: 120px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v177_3558 {
  width: 89px;
  height: 29px;
  background: rgba(22,101,52,1);
  padding: 2px 10px;
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 264px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v177_3559 {
  width: 91px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 11px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v177_3560 {
  width: 98px;
  height: 29px;
  background: rgba(22,163,74,1);
  padding: 2px 10px;
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 149px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v177_3561 {
  width: 100px;
  height: 100px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 34px;
  left: 26px;
  overflow: hidden;
}
.v177_3562 {
  width: 89px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 58px;
  left: 35px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v177_3563 {
  width: 59px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 65px;
  left: 170px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v177_3564 {
  width: 199px;
  color: rgba(22,163,74,1);
  position: absolute;
  top: 174px;
  left: 115px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v177_3565 {
  width: 328px;
  height: 193px;
  background: url("../images/v177_3565.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 102px;
  left: 31px;
  overflow: hidden;
}
.v177_3566 {
  width: 328px;
  height: 193px;
  background: url("../images/v177_3566.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 16px 16px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v177_3567 {
  width: 328px;
  height: 193px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v177_3568 {
  width: 296px;
  height: 28px;
  background: url("../images/v177_3568.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 16px;
  overflow: hidden;
}
.v177_3569 {
  width: 216px;
  height: 28px;
  background: url("../images/v177_3569.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v177_3570 {
  width: 216px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v177_3571 {
  width: 66px;
  height: 20px;
  background: rgba(77,66,66,0.949999988079071);
  padding: 2px 10px;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 230px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v177_3572 {
  width: 57px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 5px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v177_3573 {
  width: 296px;
  height: 20px;
  background: url("../images/v177_3573.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 16px;
  overflow: hidden;
}
.v177_3574 {
  width: 138px;
  color: rgba(107,114,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v177_3575 {
  width: 296px;
  height: 40px;
  background: url("../images/v177_3575.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 76px;
  left: 16px;
  overflow: hidden;
}
.v177_3576 {
  width: 294px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v177_3577 {
  width: 126px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 20px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v177_3578 {
  width: 296px;
  height: 49px;
  background: url("../images/v177_3578.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 13px 0px;
  opacity: 1;
  position: absolute;
  top: 128px;
  left: 16px;
  overflow: hidden;
}
.v177_3579 {
  width: 149px;
  height: 14px;
  background: url("../images/v177_3579.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 0px;
  overflow: hidden;
}
.v177_3580 {
  width: 14px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v177_3581 {
  width: 9px;
  height: 11px;
  background: url("../images/v177_3581.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 3px;
  border: 2px solid rgba(107,114,128,1);
}
.v177_3582 {
  width: 3px;
  height: 3px;
  background: url("../images/v177_3582.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 6px;
  border: 2px solid rgba(107,114,128,1);
}
.v177_3583 {
  width: 143px;
  height: 16px;
  background: url("../images/v177_3583.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  overflow: hidden;
}
.v177_3584 {
  width: 143px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 8px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v177_3585 {
  width: 100px;
  height: 100px;
  background: url("../images/v177_3585.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 63px;
  overflow: hidden;
}
.v177_3586 {
  width: 109px;
  height: 16px;
  background: url("../images/v177_3586.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 163px;
  overflow: hidden;
}
.v177_3587 {
  width: 14px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v177_3588 {
  width: 11px;
  height: 11px;
  background: url("../images/v177_3588.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
  border: 2px solid rgba(107,114,128,1);
}
.v177_3589 {
  width: 2px;
  height: 4px;
  background: url("../images/v177_3589.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 7px;
  border: 2px solid rgba(107,114,128,1);
}
.v177_3590 {
  width: 91px;
  height: 16px;
  background: url("../images/v177_3590.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  overflow: hidden;
}
.v177_3591 {
  width: 91px;
  color: rgba(107,114,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v177_3592 {
  width: 67px;
  height: 16px;
  background: url("../images/v177_3592.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 0px;
  overflow: hidden;
}
.v177_3593 {
  width: 14px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v177_3594 {
  width: 8px;
  height: 3px;
  background: url("../images/v177_3594.png");
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 3px;
  border: 2px solid rgba(107,114,128,1);
}
.v177_3595 {
  width: 4px;
  height: 4px;
  background: url("../images/v177_3595.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 5px;
  border: 2px solid rgba(107,114,128,1);
}
.v177_3596 {
  width: 49px;
  height: 16px;
  background: url("../images/v177_3596.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  overflow: hidden;
}
.v177_3597 {
  width: 49px;
  color: rgba(107,114,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v177_3598 {
  width: 328px;
  height: 269px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v177_3599 {
  width: 328px;
  height: 269px;
  background: url("../images/v177_3599.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 16px 16px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v177_3600 {
  width: 296px;
  height: 28px;
  background: url("../images/v177_3600.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 16px;
  overflow: hidden;
}
.v177_3601 {
  width: 171px;
  height: 28px;
  background: url("../images/v177_3601.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v177_3602 {
  width: 171px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v177_3603 {
  width: 296px;
  height: 20px;
  background: url("../images/v177_3603.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 16px;
  overflow: hidden;
}
.v177_3604 {
  width: 34px;
  color: rgba(107,114,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v177_3605 {
  width: 296px;
  height: 40px;
  background: url("../images/v177_3605.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 76px;
  left: 16px;
  overflow: hidden;
}
.v177_3606 {
  width: 272px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v177_3607 {
  width: 146px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 20px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v177_3608 {
  width: 296px;
  height: 64px;
  background: url("../images/v177_3608.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 128px;
  left: 16px;
  overflow: hidden;
}
.v177_3609 {
  width: 64px;
  height: 64px;
  background: url("../images/v177_3609.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 72px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v177_3610 {
  width: 64px;
  height: 64px;
  background: url("../images/v177_3610.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v177_3611 {
  width: 130px;
  height: 73px;
  background: url("../images/v177_3611.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
  overflow: hidden;
}
.v177_3612 {
  width: 296px;
  height: 49px;
  background: url("../images/v177_3612.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 13px 0px;
  opacity: 1;
  position: absolute;
  top: 204px;
  left: 16px;
  overflow: hidden;
}
.v177_3613 {
  width: 149px;
  height: 16px;
  background: url("../images/v177_3613.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 0px;
  overflow: hidden;
}
.v177_3614 {
  width: 14px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v177_3615 {
  width: 9px;
  height: 11px;
  background: url("../images/v177_3615.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 3px;
  border: 2px solid rgba(107,114,128,1);
}
.v177_3616 {
  width: 3px;
  height: 3px;
  background: url("../images/v177_3616.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 6px;
  border: 2px solid rgba(107,114,128,1);
}
.v177_3617 {
  width: 131px;
  height: 16px;
  background: url("../images/v177_3617.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  overflow: hidden;
}
.v177_3618 {
  width: 131px;
  color: rgba(107,114,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v177_3619 {
  width: 109px;
  height: 16px;
  background: url("../images/v177_3619.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 166px;
  overflow: hidden;
}
.v177_3620 {
  width: 14px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v177_3621 {
  width: 11px;
  height: 11px;
  background: url("../images/v177_3621.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
  border: 2px solid rgba(107,114,128,1);
}
.v177_3622 {
  width: 2px;
  height: 4px;
  background: url("../images/v177_3622.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 7px;
  border: 2px solid rgba(107,114,128,1);
}
.v177_3623 {
  width: 91px;
  height: 16px;
  background: url("../images/v177_3623.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  overflow: hidden;
}
.v177_3624 {
  width: 91px;
  color: rgba(107,114,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v177_3625 {
  width: 67px;
  height: 16px;
  background: url("../images/v177_3625.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 0px;
  overflow: hidden;
}
.v177_3626 {
  width: 14px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v177_3627 {
  width: 8px;
  height: 3px;
  background: url("../images/v177_3627.png");
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 3px;
  border: 2px solid rgba(107,114,128,1);
}
.v177_3628 {
  width: 4px;
  height: 4px;
  background: url("../images/v177_3628.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 5px;
  border: 2px solid rgba(107,114,128,1);
}
.v177_3629 {
  width: 49px;
  height: 16px;
  background: url("../images/v177_3629.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  overflow: hidden;
}
.v177_3630 {
  width: 49px;
  color: rgba(107,114,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v177_3631 {
  width: 64px;
  height: 64px;
  background: url("../images/v177_3631.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 134px;
  left: 16px;
  overflow: hidden;
}
.v177_3632 {
  width: 328px;
  height: 269px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v177_3633 {
  width: 328px;
  height: 269px;
  background: url("../images/v177_3633.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 16px 16px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v177_3634 {
  width: 296px;
  height: 28px;
  background: url("../images/v177_3634.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 16px;
  overflow: hidden;
}
.v177_3635 {
  width: 208px;
  height: 28px;
  background: url("../images/v177_3635.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v177_3636 {
  width: 208px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v177_3637 {
  width: 64px;
  height: 20px;
  background: rgba(254,249,195,1);
  padding: 2px 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 232px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v177_3638 {
  width: 44px;
  color: rgba(133,77,14,1);
  position: absolute;
  top: 2px;
  left: 10px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v177_3639 {
  width: 296px;
  height: 20px;
  background: url("../images/v177_3639.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 16px;
  overflow: hidden;
}
.v177_3640 {
  width: 138px;
  color: rgba(107,114,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v177_3641 {
  width: 296px;
  height: 40px;
  background: url("../images/v177_3641.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 76px;
  left: 16px;
  overflow: hidden;
}
.v177_3642 {
  width: 286px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v177_3643 {
  width: 138px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 20px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v177_3644 {
  width: 296px;
  height: 64px;
  background: url("../images/v177_3644.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 128px;
  left: 16px;
  overflow: hidden;
}
.v177_3645 {
  width: 64px;
  height: 64px;
  background: url("../images/v177_3645.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}
.v177_3646 {
  width: 120px;
  height: 80px;
  background: url("../images/v177_3646.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 5px;
  overflow: hidden;
}
.v177_3647 {
  width: 296px;
  height: 49px;
  background: url("../images/v177_3647.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 13px 0px;
  opacity: 1;
  position: absolute;
  top: 204px;
  left: 16px;
  overflow: hidden;
}
.v177_3648 {
  width: 126px;
  height: 16px;
  background: url("../images/v177_3648.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 0px;
  overflow: hidden;
}
.v177_3649 {
  width: 14px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v177_3650 {
  width: 9px;
  height: 11px;
  background: url("../images/v177_3650.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 3px;
  border: 2px solid rgba(107,114,128,1);
}
.v177_3651 {
  width: 3px;
  height: 3px;
  background: url("../images/v177_3651.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 6px;
  border: 2px solid rgba(107,114,128,1);
}
.v177_3652 {
  width: 108px;
  height: 16px;
  background: url("../images/v177_3652.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  overflow: hidden;
}
.v177_3653 {
  width: 108px;
  color: rgba(107,114,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v177_3654 {
  width: 109px;
  height: 16px;
  background: url("../images/v177_3654.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 143px;
  overflow: hidden;
}
.v177_3655 {
  width: 14px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v177_3656 {
  width: 11px;
  height: 11px;
  background: url("../images/v177_3656.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
  border: 2px solid rgba(107,114,128,1);
}
.v177_3657 {
  width: 2px;
  height: 4px;
  background: url("../images/v177_3657.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 7px;
  border: 2px solid rgba(107,114,128,1);
}
.v177_3658 {
  width: 91px;
  height: 16px;
  background: url("../images/v177_3658.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  overflow: hidden;
}
.v177_3659 {
  width: 91px;
  color: rgba(107,114,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v177_3660 {
  width: 86px;
  height: 16px;
  background: url("../images/v177_3660.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 0px;
  overflow: hidden;
}
.v177_3661 {
  width: 14px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v177_3662 {
  width: 8px;
  height: 3px;
  background: url("../images/v177_3662.png");
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 3px;
  border: 2px solid rgba(107,114,128,1);
}
.v177_3663 {
  width: 4px;
  height: 4px;
  background: url("../images/v177_3663.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 5px;
  border: 2px solid rgba(107,114,128,1);
}
.v177_3664 {
  width: 68px;
  height: 16px;
  background: url("../images/v177_3664.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 18px;
  overflow: hidden;
}
.v177_3665 {
  width: 68px;
  color: rgba(107,114,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v177_3697 {
  width: 100px;
  height: 69px;
  background: url("../images/v177_3697.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 696px;
  left: 977px;
  overflow: hidden;
}
.v177_3698 {
  width: 375px;
  height: 65px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 977px;
  left: 23px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v177_3699 {
  width: 375px;
  height: 64px;
  background: url("../images/v177_3699.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 6px;
  overflow: hidden;
}
.v177_3700 {
  width: 75px;
  height: 64px;
  background: url("../images/v177_3700.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 75px;
  overflow: hidden;
}
.v177_3701 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 26px;
  overflow: hidden;
}
.v177_3702 {
  width: 20px;
  height: 18px;
  background: url("../images/v177_3702.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  border: 2px solid rgba(107,114,128,1);
}
.v177_3703 {
  height: 4px;
  background: url("../images/v177_3703.png");
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 12px;
  border: 2px solid rgba(107,114,128,1);
}
.v177_3704 {
  width: 0px;
  background: url("../images/v177_3704.png");
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 12px;
  border: 2px solid rgba(107,114,128,1);
}
.v177_3705 {
  width: 35px;
  height: 16px;
  background: url("../images/v177_3705.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 20px;
  overflow: hidden;
}
.v177_3706 {
  width: 35px;
  color: rgba(107,114,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v177_3707 {
  width: 75px;
  height: 64px;
  background: url("../images/v177_3707.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 223px;
  overflow: hidden;
}
.v177_3708 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 26px;
  overflow: hidden;
}
.v177_3709 {
  width: 0px;
  background: url("../images/v177_3709.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 3px;
  border: 2px solid rgba(22,163,74,1);
}
.v177_3710 {
  width: 0px;
  background: url("../images/v177_3710.png");
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 3px;
  border: 2px solid rgba(22,163,74,1);
}
.v177_3711 {
  width: 0px;
  background: url("../images/v177_3711.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 3px;
  border: 2px solid rgba(22,163,74,1);
}
.v177_3712 {
  width: 13px;
  background: url("../images/v177_3712.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 8px;
  border: 2px solid rgba(22,163,74,1);
}
.v177_3713 {
  width: 13px;
  background: url("../images/v177_3713.png");
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 8px;
  border: 2px solid rgba(22,163,74,1);
}
.v177_3714 {
  width: 13px;
  background: url("../images/v177_3714.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 8px;
  border: 2px solid rgba(22,163,74,1);
}
.v177_3715 {
  width: 40px;
  height: 16px;
  background: url("../images/v177_3715.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 18px;
  overflow: hidden;
}
.v177_3716 {
  width: 40px;
  color: rgba(22,163,74,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v177_3717 {
  width: 75px;
  height: 64px;
  background: url("../images/v177_3717.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 284px;
  overflow: hidden;
}
.v177_3718 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 26px;
  overflow: hidden;
}
.v177_3719 {
  width: 14px;
  height: 6px;
  background: url("../images/v177_3719.png");
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 5px;
  border: 2px solid rgba(107,114,128,1);
}
.v177_3720 {
  width: 8px;
  height: 8px;
  background: url("../images/v177_3720.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 8px;
  border: 2px solid rgba(107,114,128,1);
}
.v177_3721 {
  width: 33px;
  height: 16px;
  background: url("../images/v177_3721.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 21px;
  overflow: hidden;
}
.v177_3722 {
  width: 33px;
  color: rgba(107,114,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v177_3723 {
  width: 75px;
  height: 60px;
  background: url("../images/v177_3723.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 145px;
  overflow: hidden;
}
.v177_3724 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 26px;
  overflow: hidden;
}
.v177_3725 {
  width: 0px;
  background: url("../images/v177_3725.png");
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 12px;
  border: 2px solid rgba(107,114,128,1);
}
.v177_3726 {
  height: 4px;
  background: url("../images/v177_3726.png");
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 12px;
  border: 2px solid rgba(107,114,128,1);
}
.v177_3727 {
  width: 20px;
  height: 20px;
  background: url("../images/v177_3727.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  border: 2px solid rgba(107,114,128,1);
}
.v177_3728 {
  width: 42px;
  height: 16px;
  background: url("../images/v177_3728.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 17px;
  overflow: hidden;
}
.v177_3729 {
  width: 42px;
  color: rgba(107,114,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v177_3730 {
  width: 75px;
  height: 64px;
  background: url("../images/v177_3730.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v177_3731 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 26px;
  overflow: hidden;
}
.v177_3732 {
  width: 6px;
  height: 9px;
  background: url("../images/v177_3732.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 9px;
  border: 2px solid rgba(107,114,128,1);
}
.v177_3733 {
  width: 18px;
  height: 18px;
  background: url("../images/v177_3733.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 3px;
  border: 2px solid rgba(107,114,128,1);
}
.v177_3734 {
  width: 32px;
  height: 16px;
  background: url("../images/v177_3734.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 22px;
  overflow: hidden;
}
.v177_3735 {
  width: 32px;
  color: rgba(107,114,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
