* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v384_3606 {
  width: 375px;
  height: 735px;
  background: rgba(243,244,246,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v384_3607 {
  width: 376px;
  height: 58px;
  background: rgba(22,163,74,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v384_3608 {
  width: 377px;
  height: 58px;
  background: url("../images/v384_3608.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v384_3609 {
  width: 377px;
  height: 58px;
  background: url("../images/v384_3609.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 16px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v384_3610 {
  width: 115px;
  height: 28px;
  background: url("../images/v384_3610.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 16px;
  overflow: hidden;
}
.v384_3611 {
  width: 115px;
  height: 28px;
  background: url("../images/v384_3611.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v384_3612 {
  width: 115px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v384_3613 {
  width: 32px;
  height: 34px;
  background: url("../images/v384_3613.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 327px;
  overflow: hidden;
}
.v384_3614 {
  width: 32px;
  height: 32px;
  background: rgba(0,0,0,0);
  padding: 4px 4px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v384_3615 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
  overflow: hidden;
}
.v384_3616 {
  width: 3px;
  height: 0px;
  background: url("../images/v384_3616.png");
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 10px;
  border: 2px solid rgba(255,255,255,1);
}
.v384_3617 {
  width: 17px;
  height: 15px;
  background: url("../images/v384_3617.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 3px;
  border: 2px solid rgba(255,255,255,1);
}
.v384_3618 {
  width: 20px;
  height: 20px;
  background: rgba(239,68,68,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 16px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v384_3619 {
  width: 12px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 3px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v384_3620 {
  width: 374px;
  height: 64px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 671px;
  left: 1px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v384_3621 {
  width: 375px;
  height: 64px;
  background: url("../images/v384_3621.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v384_3622 {
  width: 75px;
  height: 64px;
  background: url("../images/v384_3622.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v384_3623 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 25px;
  overflow: hidden;
}
.v384_3624 {
  width: 6px;
  height: 9px;
  background: url("../images/v384_3624.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 9px;
  border: 2px solid rgba(107,114,128,1);
}
.v384_3625 {
  width: 18px;
  height: 18px;
  background: url("../images/v384_3625.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 3px;
  border: 2px solid rgba(107,114,128,1);
}
.v384_3626 {
  width: 32px;
  height: 16px;
  background: url("../images/v384_3626.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 21px;
  overflow: hidden;
}
.v384_3627 {
  width: 32px;
  color: rgba(107,114,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v384_3628 {
  width: 75px;
  height: 64px;
  background: url("../images/v384_3628.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 75px;
  overflow: hidden;
}
.v384_3629 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 25px;
  overflow: hidden;
}
.v384_3630 {
  width: 20px;
  height: 18px;
  background: url("../images/v384_3630.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 1px;
  border: 2px solid rgba(107,114,128,1);
}
.v384_3631 {
  height: 4px;
  background: url("../images/v384_3631.png");
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 12px;
  border: 2px solid rgba(107,114,128,1);
}
.v384_3632 {
  width: 0px;
  background: url("../images/v384_3632.png");
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 12px;
  border: 2px solid rgba(107,114,128,1);
}
.v384_3633 {
  width: 35px;
  height: 16px;
  background: url("../images/v384_3633.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 19px;
  overflow: hidden;
}
.v384_3634 {
  width: 60px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 0px;
  left: 8px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v384_3635 {
  width: 75px;
  height: 64px;
  background: url("../images/v384_3635.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 150px;
  overflow: hidden;
}
.v384_3636 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 25px;
  overflow: hidden;
}
.v384_3637 {
  width: 0px;
  background: url("../images/v384_3637.png");
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 12px;
  border: 2px solid rgba(22,163,74,1);
}
.v384_3638 {
  height: 4px;
  background: url("../images/v384_3638.png");
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 12px;
  border: 2px solid rgba(22,163,74,1);
}
.v384_3639 {
  width: 20px;
  height: 20px;
  background: url("../images/v384_3639.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  border: 2px solid rgba(22,163,74,1);
}
.v384_3640 {
  width: 42px;
  height: 16px;
  background: url("../images/v384_3640.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 16px;
  overflow: hidden;
}
.v384_3641 {
  width: 42px;
  color: rgba(22,163,74,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v384_3642 {
  width: 75px;
  height: 64px;
  background: url("../images/v384_3642.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 225px;
  overflow: hidden;
}
.v384_3643 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 25px;
  overflow: hidden;
}
.v384_3644 {
  width: 0px;
  background: url("../images/v384_3644.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 3px;
  border: 2px solid rgba(107,114,128,1);
}
.v384_3645 {
  width: 0px;
  background: url("../images/v384_3645.png");
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 3px;
  border: 2px solid rgba(107,114,128,1);
}
.v384_3646 {
  width: 0px;
  background: url("../images/v384_3646.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 3px;
  border: 2px solid rgba(107,114,128,1);
}
.v384_3647 {
  width: 13px;
  background: url("../images/v384_3647.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 8px;
  border: 2px solid rgba(107,114,128,1);
}
.v384_3648 {
  width: 13px;
  background: url("../images/v384_3648.png");
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 8px;
  border: 2px solid rgba(107,114,128,1);
}
.v384_3649 {
  width: 13px;
  background: url("../images/v384_3649.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 8px;
  border: 2px solid rgba(107,114,128,1);
}
.v384_3650 {
  width: 40px;
  height: 16px;
  background: url("../images/v384_3650.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 17px;
  overflow: hidden;
}
.v384_3651 {
  width: 40px;
  color: rgba(107,114,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v384_3652 {
  width: 75px;
  height: 64px;
  background: url("../images/v384_3652.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 300px;
  overflow: hidden;
}
.v384_3653 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 25px;
  overflow: hidden;
}
.v384_3654 {
  width: 14px;
  height: 6px;
  background: url("../images/v384_3654.png");
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 5px;
  border: 2px solid rgba(107,114,128,1);
}
.v384_3655 {
  width: 8px;
  height: 8px;
  background: url("../images/v384_3655.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 8px;
  border: 2px solid rgba(107,114,128,1);
}
.v384_3656 {
  width: 33px;
  height: 16px;
  background: url("../images/v384_3656.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 20px;
  overflow: hidden;
}
.v384_3657 {
  width: 33px;
  color: rgba(107,114,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v384_3658 {
  width: 195px;
  height: 28px;
  background: url("../images/v384_3658.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 73px;
  left: 23px;
  overflow: hidden;
}
.v384_3659 {
  width: 195px;
  height: 28px;
  background: url("../images/v384_3659.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v384_3660 {
  width: 20px;
  height: 20px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 1px;
  overflow: hidden;
}
.v384_3661 {
  width: 0px;
  background: url("../images/v384_3661.png");
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 9px;
  border: 2px solid rgba(239,68,68,1);
}
.v384_3662 {
  height: 3px;
  background: url("../images/v384_3662.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 9px;
  border: 2px solid rgba(239,68,68,1);
}
.v384_3663 {
  width: 16px;
  height: 16px;
  background: url("../images/v384_3663.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  border: 2px solid rgba(239,68,68,1);
}
.v384_3664 {
  width: 167px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2px;
  left: 27px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v384_3665 {
  width: 44px;
  height: 28px;
  background: url("../images/v384_3665.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 73px;
  left: 305px;
  overflow: hidden;
}
.v384_3666 {
  width: 44px;
  height: 28px;
  background: rgba(255,255,255,1);
  padding: 4px 12px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v384_3667 {
  width: 32px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 4px;
  left: 6px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: center;
}
.v384_3668 {
  width: 328px;
  height: 543px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 114px;
  left: 23px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v384_3669 {
  width: 375px;
  height: 735px;
  background: url("../images/v384_3669.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 86px;
  left: 6px;
  overflow: hidden;
}
.v384_3670 {
  width: 375px;
  height: 735px;
  background: url("../images/v384_3670.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
