* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v317_28 {
  width: 360px;
  height: 800px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v317_29 {
  width: 360px;
  height: 800px;
  background: url("../images/v317_29.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v317_30 {
  width: 360px;
  height: 800px;
  background: rgba(249,250,251,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v317_31 {
  width: 360px;
  height: 800px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v317_47 {
  width: 360px;
  height: 599px;
  background: url("../images/v317_47.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 24px 24px;
  opacity: 1;
  position: absolute;
  top: 152px;
  left: 0px;
  overflow: hidden;
}
.v317_48 {
  width: 312px;
  height: 52px;
  background: url("../images/v317_48.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 24px;
  overflow: hidden;
}
.v317_49 {
  width: 312px;
  height: 28px;
  background: url("../images/v317_49.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v317_50 {
  width: 138px;
  color: rgba(31,41,55,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v317_51 {
  width: 312px;
  height: 20px;
  background: url("../images/v317_51.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 0px;
  overflow: hidden;
}
.v317_52 {
  width: 203px;
  color: rgba(75,85,99,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v317_53 {
  width: 312px;
  height: 478px;
  background: url("../images/v317_53.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 100px;
  left: 24px;
  overflow: hidden;
}
.v317_54 {
  width: 312px;
  height: 61px;
  background: url("../images/v317_54.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v317_55 {
  width: 312px;
  height: 20px;
  background: url("../images/v317_55.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v317_56 {
  width: 96px;
  color: rgba(55,65,81,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v317_57 {
  width: 312px;
  height: 37px;
  background: url("../images/v317_57.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 0px;
  overflow: hidden;
}
.v317_62 {
  width: 312px;
  height: 37px;
  background: rgba(255,255,255,1);
  padding: 9px 41px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v317_63 {
  width: 135px;
  color: rgba(22,163,74,1);
  position: absolute;
  top: 17px;
  left: 41px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v317_64 {
  width: 14px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 285px;
  overflow: hidden;
}
.v317_65 {
  width: 5px;
  height: 3px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 4px;
  border: 1px solid rgba(0,0,0,1);
}
.v317_58 {
  width: 28px;
  height: 37px;
  background: url("../images/v317_58.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v317_59 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 12px;
  overflow: hidden;
}
.v317_60 {
  width: 13px;
  height: 9px;
  background: url("../images/v317_60.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 1px;
  border: 2px solid rgba(156,163,175,1);
}
.v317_61 {
  width: 13px;
  background: url("../images/v317_61.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 1px;
  border: 2px solid rgba(156,163,175,1);
}
.v317_66 {
  width: 312px;
  height: 62px;
  background: url("../images/v317_66.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 0px;
  overflow: hidden;
}
.v317_67 {
  width: 312px;
  height: 20px;
  background: url("../images/v317_67.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v347_2 {
  width: 296px;
  height: 158px;
  background: url("../images/v347_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
  overflow: hidden;
}
.v347_5 {
  width: 296px;
  height: 134px;
  background: rgba(249,250,251,1);
  padding: 13px 13px;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v347_6 {
  width: 270px;
  height: 108px;
  background: url("../images/v347_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 18px 18px;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 13px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v347_11 {
  width: 100px;
  height: 20px;
  background: url("../images/v347_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 84px;
  overflow: hidden;
}
.v347_12 {
  width: 100px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 7px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 11px;
  opacity: 1;
  text-align: center;
}
.v347_207 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 123px;
  overflow: hidden;
}
.v347_208 {
  width: 22px;
  height: 16px;
  background: rgba(22,163,74,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 1px;
}
.v317_68 {
  width: 71px;
  color: rgba(55,65,81,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v317_71 {
  width: 312px;
  height: 94px;
  background: rgba(239,246,255,1);
  padding: 13px 13px;
  opacity: 1;
  position: absolute;
  top: 305px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v317_72 {
  width: 286px;
  height: 16px;
  background: url("../images/v317_72.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 13px;
  overflow: hidden;
}
.v317_73 {
  width: 80px;
  color: rgba(30,64,175,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v317_74 {
  width: 286px;
  height: 48px;
  background: url("../images/v317_74.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 13px;
  overflow: hidden;
}
.v317_75 {
  width: 233px;
  color: rgba(29,78,216,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v317_76 {
  width: 251px;
  color: rgba(29,78,216,1);
  position: absolute;
  top: 16px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v317_77 {
  width: 42px;
  color: rgba(29,78,216,1);
  position: absolute;
  top: 32px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v347_31 {
  width: 312px;
  height: 62px;
  background: url("../images/v347_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 230px;
  left: 0px;
  overflow: hidden;
}
.v347_32 {
  width: 312px;
  height: 20px;
  background: url("../images/v347_32.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v347_33 {
  width: 71px;
  color: rgba(55,65,81,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v347_34 {
  width: 312px;
  height: 38px;
  background: rgba(255,255,255,1);
  padding: 9px 13px;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v347_35 {
  width: 141px;
  color: rgba(204,204,204,1);
  position: absolute;
  top: 9px;
  left: 13px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v317_78 {
  width: 312px;
  height: 50px;
  background: url("../images/v317_78.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 8px 0px;
  opacity: 1;
  position: absolute;
  top: 504px;
  left: 24px;
  overflow: hidden;
}
.v317_79 {
  width: 150px;
  height: 42px;
  background: rgba(255,255,255,1);
  padding: 11px 17px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v317_80 {
  width: 33px;
  color: rgba(55,65,81,1);
  position: absolute;
  top: 12px;
  left: 58px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 11px;
  opacity: 1;
  text-align: center;
}
.v317_81 {
  width: 150px;
  height: 42px;
  background: rgba(22,163,74,1);
  padding: 11px 17px;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 162px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v317_82 {
  width: 39px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 55px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 11px;
  opacity: 1;
  text-align: center;
}
.v347_57 {
  width: 360px;
  height: 49px;
  background: url("../images/v347_57.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 17px 17px;
  opacity: 1;
  position: absolute;
  top: 751px;
  left: 0px;
  overflow: hidden;
}
.v347_58 {
  width: 328px;
  height: 16px;
  background: url("../images/v347_58.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 16px;
  overflow: hidden;
}
.v347_59 {
  width: 211px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 0px;
  left: 58px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v347_60 {
  width: 26px;
  height: 28px;
  background: url("../images/v347_60.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 280px;
  overflow: hidden;
}
.v347_127 {
  width: 360px;
  height: 152px;
  background: linear-gradient(rgba(22,163,74,1), rgba(22,101,52,1));
  padding: 24px 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v347_128 {
  width: 312px;
  height: 61px;
  background: url("../images/v347_128.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 29px;
  overflow: hidden;
}
.v347_129 {
  width: 61px;
  height: 61px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 12px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v347_130 {
  width: 61px;
  height: 61px;
  background: url("../images/v347_130.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v347_131 {
  width: 119px;
  height: 28px;
  background: url("../images/v347_131.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 58px;
  overflow: hidden;
}
.v347_132 {
  width: 80px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v347_133 {
  width: 96px;
  height: 37px;
  background: url("../images/v347_133.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 58px;
  overflow: hidden;
}
.v347_134 {
  width: 96px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v347_135 {
  width: 321px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 120px;
  left: 17px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
