* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v183_3786 {
  width: 365px;
  height: 800px;
  background: url("../images/v183_3786.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v183_3787 {
  width: 365px;
  height: 800px;
  background: rgba(243,244,246,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v183_3788 {
  width: 365px;
  height: 58px;
  background: rgba(22,163,74,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v183_3789 {
  width: 363px;
  height: 58px;
  background: url("../images/v183_3789.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 16px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v183_3790 {
  width: 181px;
  height: 28px;
  background: url("../images/v183_3790.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 16px;
  overflow: hidden;
}
.v183_3791 {
  width: 181px;
  height: 28px;
  background: url("../images/v183_3791.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v183_3792 {
  width: 181px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v183_3793 {
  width: 32px;
  height: 34px;
  background: url("../images/v183_3793.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 33px;
  overflow: hidden;
}
.v183_3794 {
  width: 32px;
  height: 32px;
  background: rgba(0,0,0,0);
  padding: 4px 4px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v183_3795 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
  overflow: hidden;
}
.v183_3796 {
  width: 3px;
  height: 0px;
  background: url("../images/v183_3796.png");
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 11px;
  border: 2px solid rgba(255,255,255,1);
}
.v183_3797 {
  width: 17px;
  height: 15px;
  background: url("../images/v183_3797.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 4px;
  border: 2px solid rgba(255,255,255,1);
}
.v183_3798 {
  width: 20px;
  height: 20px;
  background: rgba(239,68,68,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 16px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v183_3799 {
  width: 12px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 4px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v183_3800 {
  width: 360px;
  height: 1000px;
  background: url("../images/v183_3800.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 58px;
  left: 0px;
  overflow: hidden;
}
.v183_3801 {
  width: 335px;
  height: 784px;
  background: url("../images/v183_3801.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 15px;
  overflow: hidden;
}
.v183_3859 {
  width: 328px;
  height: 588px;
  background: url("../images/v183_3859.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 11px;
  opacity: 1;
  position: absolute;
  top: 321px;
  left: 0px;
  overflow: hidden;
}
.v1_1916 {
  width: 328px;
  height: 104px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 125px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v1_1917 {
  width: 328px;
  height: 104px;
  background: url("../images/v1_1917.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 16px 16px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_1918 {
  width: 296px;
  height: 24px;
  background: url("../images/v1_1918.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 16px;
  overflow: hidden;
}
.v1_1919 {
  width: 192px;
  height: 24px;
  background: url("../images/v1_1919.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_1920 {
  width: 192px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1_1921 {
  width: 66px;
  height: 20px;
  background: rgba(254,226,226,1);
  padding: 2px 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 68px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v1_1922 {
  width: 46px;
  color: rgba(153,27,27,1);
  position: absolute;
  top: 2px;
  left: 10px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v1_1923 {
  width: 296px;
  height: 20px;
  background: url("../images/v1_1923.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 16px;
  overflow: hidden;
}
.v1_1924 {
  width: 138px;
  color: rgba(107,114,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v1_1925 {
  width: 296px;
  height: 16px;
  background: url("../images/v1_1925.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 16px;
  overflow: hidden;
}
.v1_1926 {
  width: 109px;
  height: 16px;
  background: url("../images/v1_1926.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_1927 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  overflow: hidden;
}
.v1_1928 {
  width: 8px;
  height: 9px;
  background: url("../images/v1_1928.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
  border: 2px solid rgba(107,114,128,1);
}
.v1_1929 {
  width: 3px;
  height: 3px;
  background: url("../images/v1_1929.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 4px;
  border: 2px solid rgba(107,114,128,1);
}
.v1_1930 {
  width: 93px;
  height: 16px;
  background: url("../images/v1_1930.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 16px;
  overflow: hidden;
}
.v1_1931 {
  width: 93px;
  color: rgba(107,114,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v1_1932 {
  width: 53px;
  height: 16px;
  background: url("../images/v1_1932.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 121px;
  overflow: hidden;
}
.v1_1933 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  overflow: hidden;
}
.v1_1934 {
  width: 10px;
  height: 10px;
  background: url("../images/v1_1934.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  border: 2px solid rgba(107,114,128,1);
}
.v1_1935 {
  width: 2px;
  height: 4px;
  background: url("../images/v1_1935.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 6px;
  border: 2px solid rgba(107,114,128,1);
}
.v1_1936 {
  width: 37px;
  height: 16px;
  background: url("../images/v1_1936.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 16px;
  overflow: hidden;
}
.v1_1937 {
  width: 37px;
  color: rgba(107,114,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v1_1938 {
  width: 328px;
  height: 128px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 237px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v1_1939 {
  width: 328px;
  height: 128px;
  background: url("../images/v1_1939.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 16px 16px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_1940 {
  width: 296px;
  height: 48px;
  background: url("../images/v1_1940.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 16px;
  overflow: hidden;
}
.v1_1941 {
  width: 231px;
  height: 48px;
  background: url("../images/v1_1941.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_1942 {
  width: 204px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1_1943 {
  width: 33px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 25px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v1_1944 {
  width: 64px;
  height: 20px;
  background: rgba(254,249,195,1);
  padding: 2px 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 66px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v1_1945 {
  width: 44px;
  color: rgba(133,77,14,1);
  position: absolute;
  top: 2px;
  left: 10px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v1_1946 {
  width: 296px;
  height: 20px;
  background: url("../images/v1_1946.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 16px;
  overflow: hidden;
}
.v1_1947 {
  width: 138px;
  color: rgba(107,114,128,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v1_1948 {
  width: 296px;
  height: 16px;
  background: url("../images/v1_1948.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 96px;
  left: 16px;
  overflow: hidden;
}
.v1_1949 {
  width: 166px;
  height: 16px;
  background: url("../images/v1_1949.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_1950 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  overflow: hidden;
}
.v1_1951 {
  width: 8px;
  height: 9px;
  background: url("../images/v1_1951.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
  border: 2px solid rgba(107,114,128,1);
}
.v1_1952 {
  width: 3px;
  height: 3px;
  background: url("../images/v1_1952.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 5px;
  border: 2px solid rgba(107,114,128,1);
}
.v1_1953 {
  width: 150px;
  height: 16px;
  background: url("../images/v1_1953.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 16px;
  overflow: hidden;
}
.v1_1954 {
  width: 80px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v1_1961 {
  width: 52px;
  height: 16px;
  background: url("../images/v1_1961.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 178px;
  overflow: hidden;
}
.v1_1962 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  overflow: hidden;
}
.v1_1963 {
  width: 10px;
  height: 10px;
  background: url("../images/v1_1963.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  border: 2px solid rgba(107,114,128,1);
}
.v1_1964 {
  width: 2px;
  height: 4px;
  background: url("../images/v1_1964.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 6px;
  border: 2px solid rgba(107,114,128,1);
}
.v1_1965 {
  width: 36px;
  height: 16px;
  background: url("../images/v1_1965.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 16px;
  overflow: hidden;
}
.v1_1966 {
  width: 36px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v183_3977 {
  width: 365px;
  height: 64px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 736px;
  left: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v183_3978 {
  width: 360px;
  height: 64px;
  background: url("../images/v183_3978.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  overflow: hidden;
}
.v183_3979 {
  width: 75px;
  height: 64px;
  background: url("../images/v183_3979.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v183_3980 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 26px;
  overflow: hidden;
}
.v183_3981 {
  width: 6px;
  height: 9px;
  background: url("../images/v183_3981.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 9px;
  border: 2px solid rgba(107,114,128,1);
}
.v183_3982 {
  width: 18px;
  height: 18px;
  background: url("../images/v183_3982.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 3px;
  border: 2px solid rgba(107,114,128,1);
}
.v183_3983 {
  width: 32px;
  height: 16px;
  background: url("../images/v183_3983.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 22px;
  overflow: hidden;
}
.v183_3984 {
  width: 32px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v183_3985 {
  width: 75px;
  height: 64px;
  background: url("../images/v183_3985.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 75px;
  overflow: hidden;
}
.v183_3986 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 26px;
  overflow: hidden;
}
.v183_3987 {
  width: 7px;
  height: 9px;
  background: url("../images/v183_3987.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
  border: 2px solid rgba(22,163,74,1);
}
.v183_3988 {
  width: 7px;
  height: 5px;
  background: url("../images/v183_3988.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 14px;
  border: 2px solid rgba(22,163,74,1);
}
.v183_3989 {
  width: 7px;
  height: 9px;
  background: url("../images/v183_3989.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 14px;
  border: 2px solid rgba(22,163,74,1);
}
.v183_3990 {
  width: 7px;
  height: 5px;
  background: url("../images/v183_3990.png");
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 3px;
  border: 2px solid rgba(22,163,74,1);
}
.v183_3991 {
  width: 57px;
  height: 16px;
  background: url("../images/v183_3991.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 9px;
  overflow: hidden;
}
.v183_3992 {
  width: 57px;
  color: rgba(22,163,74,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v183_3993 {
  width: 75px;
  height: 64px;
  background: url("../images/v183_3993.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 150px;
  overflow: hidden;
}
.v183_3994 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 26px;
  overflow: hidden;
}
.v183_3995 {
  width: 0px;
  background: url("../images/v183_3995.png");
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 12px;
  border: 2px solid rgba(107,114,128,1);
}
.v183_3996 {
  height: 4px;
  background: url("../images/v183_3996.png");
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 12px;
  border: 2px solid rgba(107,114,128,1);
}
.v183_3997 {
  width: 20px;
  height: 20px;
  background: url("../images/v183_3997.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  border: 2px solid rgba(107,114,128,1);
}
.v183_3998 {
  width: 42px;
  height: 16px;
  background: url("../images/v183_3998.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 17px;
  overflow: hidden;
}
.v183_3999 {
  width: 42px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v183_4000 {
  width: 75px;
  height: 64px;
  background: url("../images/v183_4000.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 225px;
  overflow: hidden;
}
.v183_4001 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 25px;
  overflow: hidden;
}
.v183_4002 {
  width: 0px;
  background: url("../images/v183_4002.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 3px;
  border: 2px solid rgba(107,114,128,1);
}
.v183_4003 {
  width: 0px;
  background: url("../images/v183_4003.png");
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 3px;
  border: 2px solid rgba(107,114,128,1);
}
.v183_4004 {
  width: 0px;
  background: url("../images/v183_4004.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 3px;
  border: 2px solid rgba(107,114,128,1);
}
.v183_4005 {
  width: 13px;
  background: url("../images/v183_4005.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 8px;
  border: 2px solid rgba(107,114,128,1);
}
.v183_4006 {
  width: 13px;
  background: url("../images/v183_4006.png");
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 8px;
  border: 2px solid rgba(107,114,128,1);
}
.v183_4007 {
  width: 13px;
  background: url("../images/v183_4007.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 8px;
  border: 2px solid rgba(107,114,128,1);
}
.v183_4008 {
  width: 40px;
  height: 16px;
  background: url("../images/v183_4008.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 17px;
  overflow: hidden;
}
.v183_4009 {
  width: 40px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v183_4010 {
  width: 75px;
  height: 64px;
  background: url("../images/v183_4010.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 300px;
  overflow: hidden;
}
.v183_4011 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 25px;
  overflow: hidden;
}
.v183_4012 {
  width: 14px;
  height: 6px;
  background: url("../images/v183_4012.png");
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 5px;
  border: 2px solid rgba(107,114,128,1);
}
.v183_4013 {
  width: 8px;
  height: 8px;
  background: url("../images/v183_4013.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 8px;
  border: 2px solid rgba(107,114,128,1);
}
.v183_4014 {
  width: 33px;
  height: 16px;
  background: url("../images/v183_4014.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 20px;
  overflow: hidden;
}
.v183_4015 {
  width: 33px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
