* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v320_189 {
  width: 360px;
  height: 800px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v320_190 {
  width: 360px;
  height: 800px;
  background: url("../images/v320_190.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v320_191 {
  width: 360px;
  height: 800px;
  background: rgba(249,250,251,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v320_192 {
  width: 360px;
  height: 800px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v320_193 {
  width: 360px;
  height: 152px;
  background: linear-gradient(rgba(22,163,74,1), rgba(22,101,52,1));
  padding: 24px 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v320_194 {
  width: 312px;
  height: 61px;
  background: url("../images/v320_194.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 29px;
  overflow: hidden;
}
.v320_195 {
  width: 61px;
  height: 61px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 12px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v338_2205 {
  width: 61px;
  height: 61px;
  background: url("../images/v338_2205.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v320_202 {
  width: 119px;
  height: 28px;
  background: url("../images/v320_202.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 58px;
  overflow: hidden;
}
.v320_203 {
  width: 80px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 3px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v320_204 {
  width: 96px;
  height: 37px;
  background: url("../images/v320_204.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 58px;
  overflow: hidden;
}
.v320_205 {
  width: 96px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v346_2868 {
  width: 321px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 120px;
  left: 17px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v320_208 {
  width: 360px;
  height: 599px;
  background: url("../images/v320_208.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 24px 24px;
  opacity: 1;
  position: absolute;
  top: 152px;
  left: 0px;
  overflow: hidden;
}
.v320_209 {
  width: 312px;
  height: 52px;
  background: url("../images/v320_209.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 24px;
  overflow: hidden;
}
.v320_210 {
  width: 312px;
  height: 28px;
  background: url("../images/v320_210.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v320_211 {
  width: 58px;
  color: rgba(31,41,55,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v320_212 {
  width: 312px;
  height: 20px;
  background: url("../images/v320_212.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 0px;
  overflow: hidden;
}
.v320_213 {
  width: 179px;
  color: rgba(75,85,99,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v320_214 {
  width: 312px;
  height: 230px;
  background: url("../images/v320_214.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 100px;
  left: 24px;
  overflow: hidden;
}
.v320_215 {
  width: 312px;
  height: 62px;
  background: url("../images/v320_215.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v320_216 {
  width: 312px;
  height: 20px;
  background: url("../images/v320_216.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v320_217 {
  width: 35px;
  color: rgba(55,65,81,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v320_218 {
  width: 312px;
  height: 38px;
  background: url("../images/v320_218.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 0px;
  overflow: hidden;
}
.v320_223 {
  width: 312px;
  height: 38px;
  background: rgba(255,255,255,1);
  padding: 9px 41px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v320_224 {
  width: 168px;
  color: rgba(204,204,204,1);
  position: absolute;
  top: 9px;
  left: 41px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v320_219 {
  width: 28px;
  height: 38px;
  background: url("../images/v320_219.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v320_220 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 12px;
  overflow: hidden;
}
.v320_221 {
  width: 9px;
  height: 4px;
  background: url("../images/v320_221.png");
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 4px;
  border: 2px solid rgba(156,163,175,1);
}
.v320_222 {
  width: 5px;
  height: 5px;
  background: url("../images/v320_222.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 6px;
  border: 2px solid rgba(156,163,175,1);
}
.v320_225 {
  width: 312px;
  height: 62px;
  background: url("../images/v320_225.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 78px;
  left: 0px;
  overflow: hidden;
}
.v320_226 {
  width: 312px;
  height: 20px;
  background: url("../images/v320_226.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v320_227 {
  width: 65px;
  color: rgba(55,65,81,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v320_228 {
  width: 312px;
  height: 38px;
  background: url("../images/v320_228.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 0px;
  overflow: hidden;
}
.v320_233 {
  width: 312px;
  height: 38px;
  background: rgba(255,255,255,1);
  padding: 9px 41px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v320_234 {
  width: 63px;
  color: rgba(204,204,204,1);
  position: absolute;
  top: 9px;
  left: 41px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v320_235 {
  width: 28px;
  height: 38px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 284px;
  overflow: hidden;
}
.v320_236 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 0px;
  overflow: hidden;
}
.v320_237 {
  width: 13px;
  height: 9px;
  background: url("../images/v320_237.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 2px;
  border: 2px solid rgba(156,163,175,1);
}
.v320_238 {
  width: 4px;
  height: 4px;
  background: url("../images/v320_238.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 6px;
  border: 2px solid rgba(156,163,175,1);
}
.v320_229 {
  width: 28px;
  height: 38px;
  background: url("../images/v320_229.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v320_230 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 12px;
  overflow: hidden;
}
.v320_231 {
  width: 12px;
  height: 7px;
  background: url("../images/v320_231.png");
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 2px;
  border: 2px solid rgba(156,163,175,1);
}
.v320_232 {
  width: 6px;
  height: 6px;
  background: url("../images/v320_232.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 5px;
  border: 2px solid rgba(156,163,175,1);
}
.v320_239 {
  width: 312px;
  height: 16px;
  background: url("../images/v320_239.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 156px;
  left: 0px;
  overflow: hidden;
}
.v320_240 {
  width: 102px;
  height: 16px;
  background: url("../images/v320_240.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v320_241 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,1);
  padding: 2px 2px;
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v320_242 {
  width: 82px;
  height: 16px;
  background: url("../images/v320_242.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 20px;
  overflow: hidden;
}
.v320_243 {
  width: 82px;
  color: rgba(55,65,81,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v320_244 {
  width: 102px;
  height: 16px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 210px;
  overflow: hidden;
}
.v320_245 {
  width: 102px;
  color: rgba(22,163,74,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v320_246 {
  width: 312px;
  height: 42px;
  background: rgba(22,163,74,1);
  padding: 11px 17px;
  opacity: 1;
  position: absolute;
  top: 188px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v320_247 {
  width: 40px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 124px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 11px;
  opacity: 1;
  text-align: center;
}
.v320_248 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 173px;
  overflow: hidden;
}
.v320_249 {
  width: 9px;
  background: url("../images/v320_249.png");
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 4px;
  border: 2px solid rgba(255,255,255,1);
}
.v320_250 {
  width: 4px;
  height: 9px;
  background: url("../images/v320_250.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 8px;
  border: 2px solid rgba(255,255,255,1);
}
.v320_251 {
  width: 312px;
  height: 66px;
  background: url("../images/v320_251.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 354px;
  left: 24px;
  overflow: hidden;
}
.v320_252 {
  width: 312px;
  height: 66px;
  background: rgba(240,253,244,1);
  padding: 13px 13px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v320_253 {
  width: 286px;
  height: 16px;
  background: url("../images/v320_253.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 13px;
  overflow: hidden;
}
.v320_254 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v320_255 {
  width: 13px;
  height: 13px;
  background: url("../images/v320_255.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
  border: 2px solid rgba(22,101,52,1);
}
.v320_256 {
  height: 2px;
  background: url("../images/v320_256.png");
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 8px;
  border: 2px solid rgba(22,101,52,1);
}
.v320_257 {
  width: 0px;
  background: url("../images/v320_257.png");
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 8px;
  border: 2px solid rgba(22,101,52,1);
}
.v320_258 {
  width: 146px;
  height: 16px;
  background: url("../images/v320_258.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 24px;
  overflow: hidden;
}
.v320_259 {
  width: 146px;
  color: rgba(22,101,52,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v320_260 {
  width: 286px;
  height: 16px;
  background: url("../images/v320_260.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 13px;
  overflow: hidden;
}
.v320_261 {
  width: 16px;
  height: 16px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v320_262 {
  width: 10px;
  height: 13px;
  background: url("../images/v320_262.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 3px;
  border: 2px solid rgba(22,101,52,1);
}
.v320_263 {
  width: 4px;
  height: 2px;
  background: url("../images/v320_263.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 6px;
  border: 2px solid rgba(22,101,52,1);
}
.v320_264 {
  width: 121px;
  height: 16px;
  background: url("../images/v320_264.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 24px;
  overflow: hidden;
}
.v320_265 {
  width: 121px;
  color: rgba(22,101,52,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v320_266 {
  width: 312px;
  height: 16px;
  background: url("../images/v320_266.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 444px;
  left: 24px;
  overflow: hidden;
}
.v320_267 {
  width: 312px;
  height: 16px;
  background: url("../images/v320_267.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v320_268 {
  width: 133px;
  color: rgba(75,85,99,1);
  position: absolute;
  top: 0px;
  left: 69px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v320_269 {
  width: 3px;
  color: rgba(75,85,99,1);
  position: absolute;
  top: 0px;
  left: 202px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v320_270 {
  width: 38px;
  height: 16px;
  background: rgba(0,0,0,0);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 206px;
  overflow: hidden;
}
.v320_271 {
  width: 38px;
  color: rgba(22,163,74,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v347_37 {
  width: 360px;
  height: 49px;
  background: url("../images/v347_37.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 17px 17px;
  opacity: 1;
  position: absolute;
  top: 751px;
  left: 0px;
  overflow: hidden;
}
.v347_38 {
  width: 328px;
  height: 16px;
  background: url("../images/v347_38.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 16px;
  overflow: hidden;
}
.v347_39 {
  width: 211px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 0px;
  left: 58px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v346_2840 {
  width: 26px;
  height: 28px;
  background: url("../images/v346_2840.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 280px;
  overflow: hidden;
}
