* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v187_4078 {
  width: 365px;
  height: 800px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v187_4079 {
  width: 360px;
  height: 800px;
  background: url("../images/v187_4079.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v187_4080 {
  width: 365px;
  height: 800px;
  background: rgba(243,244,246,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
}
.v187_4081 {
  width: 367px;
  height: 58px;
  background: rgba(22,163,74,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v187_4082 {
  width: 363px;
  height: 58px;
  background: url("../images/v187_4082.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 12px 16px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v187_4083 {
  width: 181px;
  height: 28px;
  background: url("../images/v187_4083.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 16px;
  overflow: hidden;
}
.v187_4084 {
  width: 181px;
  height: 28px;
  background: url("../images/v187_4084.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v187_4085 {
  width: 181px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v187_4086 {
  width: 32px;
  height: 34px;
  background: url("../images/v187_4086.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 327px;
  overflow: hidden;
}
.v187_4087 {
  width: 32px;
  height: 32px;
  background: rgba(0,0,0,0);
  padding: 4px 4px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v187_4088 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 4px;
  overflow: hidden;
}
.v187_4089 {
  width: 3px;
  height: 0px;
  background: url("../images/v187_4089.png");
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 11px;
  border: 2px solid rgba(255,255,255,1);
}
.v187_4090 {
  width: 17px;
  height: 15px;
  background: url("../images/v187_4090.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 4px;
  border: 2px solid rgba(255,255,255,1);
}
.v187_4091 {
  width: 20px;
  height: 20px;
  background: rgba(239,68,68,1);
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 16px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v187_4092 {
  width: 12px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2px;
  left: 4px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v187_4093 {
  width: 360px;
  height: 742px;
  background: url("../images/v187_4093.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 58px;
  left: 0px;
  overflow: hidden;
}
.v187_4094 {
  width: 335px;
  height: 734px;
  background: url("../images/v187_4094.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 66px;
  left: 16px;
  overflow: hidden;
}
.v187_4095 {
  width: 328px;
  height: 164px;
  background: url("../images/v187_4095.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 0px;
  overflow: hidden;
}
.v187_4096 {
  width: 158px;
  height: 76px;
  background: rgba(254,252,232,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v187_4097 {
  width: 154px;
  height: 76px;
  background: url("../images/v187_4097.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 16px 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
  overflow: hidden;
}
.v187_4098 {
  width: 122px;
  height: 44px;
  background: url("../images/v187_4098.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 16px;
  overflow: hidden;
}
.v187_4099 {
  width: 43px;
  height: 44px;
  background: url("../images/v187_4099.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v187_4100 {
  width: 43px;
  height: 16px;
  background: url("../images/v187_4100.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v187_4101 {
  width: 43px;
  color: rgba(161,98,7,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v187_4102 {
  width: 43px;
  height: 28px;
  background: url("../images/v187_4102.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 0px;
  overflow: hidden;
}
.v187_4103 {
  width: 11px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v187_4104 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 98px;
  overflow: hidden;
}
.v187_4105 {
  width: 20px;
  height: 18px;
  background: url("../images/v187_4105.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  border: 2px solid rgba(234,179,8,1);
}
.v187_4106 {
  height: 4px;
  background: url("../images/v187_4106.png");
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 12px;
  border: 2px solid rgba(234,179,8,1);
}
.v187_4107 {
  width: 0px;
  background: url("../images/v187_4107.png");
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 12px;
  border: 2px solid rgba(234,179,8,1);
}
.v187_4108 {
  width: 158px;
  height: 76px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 170px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v187_4109 {
  width: 154px;
  height: 76px;
  background: url("../images/v187_4109.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 16px 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
  overflow: hidden;
}
.v187_4110 {
  width: 122px;
  height: 44px;
  background: url("../images/v187_4110.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 16px;
  overflow: hidden;
}
.v187_4111 {
  width: 68px;
  height: 44px;
  background: url("../images/v187_4111.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v187_4112 {
  width: 68px;
  height: 16px;
  background: url("../images/v187_4112.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v187_4113 {
  width: 68px;
  color: rgba(21,128,61,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v187_4114 {
  width: 68px;
  height: 28px;
  background: url("../images/v187_4114.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 0px;
  overflow: hidden;
}
.v187_4115 {
  width: 11px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v187_4116 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 98px;
  overflow: hidden;
}
.v187_4117 {
  height: 10px;
  background: url("../images/v187_4117.png");
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 18px;
  border: 2px solid rgba(34,197,94,1);
}
.v187_4118 {
  height: 16px;
  background: url("../images/v187_4118.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 12px;
  border: 2px solid rgba(34,197,94,1);
}
.v187_4119 {
  height: 6px;
  background: url("../images/v187_4119.png");
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 6px;
  border: 2px solid rgba(34,197,94,1);
}
.v187_4120 {
  width: 158px;
  height: 76px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 88px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v187_4121 {
  width: 154px;
  height: 76px;
  background: url("../images/v187_4121.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 16px 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
  overflow: hidden;
}
.v187_4122 {
  width: 122px;
  height: 44px;
  background: url("../images/v187_4122.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 16px;
  overflow: hidden;
}
.v187_4123 {
  width: 47px;
  height: 44px;
  background: url("../images/v187_4123.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v187_4124 {
  width: 47px;
  height: 16px;
  background: url("../images/v187_4124.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v187_4125 {
  width: 47px;
  color: rgba(21,128,61,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v187_4126 {
  width: 47px;
  height: 28px;
  background: url("../images/v187_4126.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 0px;
  overflow: hidden;
}
.v187_4127 {
  width: 11px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v187_4128 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 98px;
  overflow: hidden;
}
.v187_4129 {
  width: 20px;
  height: 20px;
  background: url("../images/v187_4129.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 3px;
  border: 2px solid rgba(34,197,94,1);
}
.v187_4130 {
  width: 13px;
  height: 10px;
  background: url("../images/v187_4130.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 9px;
  border: 2px solid rgba(34,197,94,1);
}
.v187_4131 {
  width: 158px;
  height: 76px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 88px;
  left: 170px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v187_4132 {
  width: 154px;
  height: 76px;
  background: url("../images/v187_4132.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 16px 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 4px;
  overflow: hidden;
}
.v187_4133 {
  width: 122px;
  height: 44px;
  background: url("../images/v187_4133.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 16px;
  overflow: hidden;
}
.v187_4134 {
  width: 42px;
  height: 44px;
  background: url("../images/v187_4134.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v187_4135 {
  width: 42px;
  height: 16px;
  background: url("../images/v187_4135.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v187_4136 {
  width: 42px;
  color: rgba(185,28,28,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v187_4137 {
  width: 42px;
  height: 28px;
  background: url("../images/v187_4137.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 0px;
  overflow: hidden;
}
.v187_4138 {
  width: 11px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v187_4139 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 98px;
  overflow: hidden;
}
.v187_4140 {
  width: 0px;
  background: url("../images/v187_4140.png");
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 12px;
  border: 2px solid rgba(239,68,68,1);
}
.v187_4141 {
  height: 4px;
  background: url("../images/v187_4141.png");
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 12px;
  border: 2px solid rgba(239,68,68,1);
}
.v187_4142 {
  width: 20px;
  height: 20px;
  background: url("../images/v187_4142.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  border: 2px solid rgba(239,68,68,1);
}
.v187_4143 {
  width: 328px;
  height: 24px;
  background: url("../images/v187_4143.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 242px;
  left: 0px;
  overflow: hidden;
}
.v187_4144 {
  width: 328px;
  height: 24px;
  background: url("../images/v187_4144.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v187_4145 {
  width: 328px;
  height: 24px;
  background: url("../images/v187_4145.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v187_4146 {
  width: 30px;
  height: 24px;
  background: url("../images/v187_4146.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v187_4147 {
  width: 18px;
  height: 18px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 12px;
  overflow: hidden;
}
.v187_4148 {
  width: 3px;
  height: 3px;
  background: url("../images/v187_4148.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 12px;
  border: 2px solid rgba(107,114,128,1);
}
.v187_4149 {
  width: 12px;
  height: 12px;
  background: url("../images/v187_4149.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  border: 2px solid rgba(107,114,128,1);
}
.v187_4150 {
  width: 328px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v187_4151 {
  width: 139px;
  color: rgba(204,204,204,1);
  position: absolute;
  top: 0px;
  left: 40px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v187_4152 {
  width: 328px;
  height: 413px;
  background: url("../images/v187_4152.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 11px;
  opacity: 1;
  position: absolute;
  top: 321px;
  left: 0px;
  overflow: hidden;
}
.v187_4175 {
  width: 328px;
  height: 104px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v187_4176 {
  width: 328px;
  height: 104px;
  background: url("../images/v187_4176.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 16px 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v187_4177 {
  width: 296px;
  height: 24px;
  background: url("../images/v187_4177.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 16px;
  overflow: hidden;
}
.v187_4178 {
  width: 184px;
  height: 24px;
  background: url("../images/v187_4178.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v187_4179 {
  width: 184px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v187_4180 {
  width: 64px;
  height: 20px;
  background: rgba(254,249,195,1);
  padding: 2px 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 231px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v187_4181 {
  width: 44px;
  color: rgba(133,77,14,1);
  position: absolute;
  top: 2px;
  left: 10px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v187_4182 {
  width: 296px;
  height: 20px;
  background: url("../images/v187_4182.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 16px;
  overflow: hidden;
}
.v187_4183 {
  width: 138px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v187_4184 {
  width: 296px;
  height: 16px;
  background: url("../images/v187_4184.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 16px;
  overflow: hidden;
}
.v187_4185 {
  width: 124px;
  height: 16px;
  background: url("../images/v187_4185.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v187_4186 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  overflow: hidden;
}
.v187_4187 {
  width: 8px;
  height: 9px;
  background: url("../images/v187_4187.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
  border: 2px solid rgba(107,114,128,1);
}
.v187_4188 {
  width: 3px;
  height: 3px;
  background: url("../images/v187_4188.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 4px;
  border: 2px solid rgba(107,114,128,1);
}
.v187_4189 {
  width: 108px;
  height: 16px;
  background: url("../images/v187_4189.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 16px;
  overflow: hidden;
}
.v187_4190 {
  width: 108px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v187_4191 {
  width: 52px;
  height: 16px;
  background: url("../images/v187_4191.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 136px;
  overflow: hidden;
}
.v187_4192 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  overflow: hidden;
}
.v187_4193 {
  width: 10px;
  height: 10px;
  background: url("../images/v187_4193.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  border: 2px solid rgba(107,114,128,1);
}
.v187_4194 {
  width: 2px;
  height: 4px;
  background: url("../images/v187_4194.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 6px;
  border: 2px solid rgba(107,114,128,1);
}
.v187_4195 {
  width: 36px;
  height: 16px;
  background: url("../images/v187_4195.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 16px;
  overflow: hidden;
}
.v187_4196 {
  width: 36px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v187_4285 {
  width: 68px;
  height: 30px;
  background: rgba(0,0,0,0);
  padding: 6px 11px;
  opacity: 1;
  position: absolute;
  top: 193px;
  left: 4px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v187_4288 {
  width: 56px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 7px;
  left: 6px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v190_4293 {
  width: 328px;
  height: 128px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 433px;
  left: 1px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v190_4294 {
  width: 328px;
  height: 128px;
  background: url("../images/v190_4294.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 16px 16px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v190_4295 {
  width: 296px;
  height: 48px;
  background: url("../images/v190_4295.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 16px;
  overflow: hidden;
}
.v190_4296 {
  width: 231px;
  height: 48px;
  background: url("../images/v190_4296.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v190_4297 {
  width: 204px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v190_4298 {
  width: 33px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 25px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v190_4299 {
  width: 64px;
  height: 20px;
  background: rgba(254,249,195,1);
  padding: 2px 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 231px;
  border-top-left-radius: 9999px;
  border-top-right-radius: 9999px;
  border-bottom-left-radius: 9999px;
  border-bottom-right-radius: 9999px;
  overflow: hidden;
}
.v190_4300 {
  width: 44px;
  color: rgba(133,77,14,1);
  position: absolute;
  top: 2px;
  left: 10px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v190_4301 {
  width: 296px;
  height: 20px;
  background: url("../images/v190_4301.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 16px;
  overflow: hidden;
}
.v190_4302 {
  width: 138px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 11px;
  opacity: 1;
  text-align: left;
}
.v190_4303 {
  width: 296px;
  height: 16px;
  background: url("../images/v190_4303.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 96px;
  left: 16px;
  overflow: hidden;
}
.v190_4304 {
  width: 166px;
  height: 16px;
  background: url("../images/v190_4304.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v190_4305 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  overflow: hidden;
}
.v190_4306 {
  width: 8px;
  height: 9px;
  background: url("../images/v190_4306.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 2px;
  border: 2px solid rgba(107,114,128,1);
}
.v190_4307 {
  width: 3px;
  height: 3px;
  background: url("../images/v190_4307.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 4px;
  border: 2px solid rgba(107,114,128,1);
}
.v190_4308 {
  width: 150px;
  height: 16px;
  background: url("../images/v190_4308.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 16px;
  overflow: hidden;
}
.v190_4309 {
  width: 53px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v190_4310 {
  width: 70px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v190_4311 {
  width: 45px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 0px;
  left: 53px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v190_4313 {
  width: 44px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 0px;
  left: 98px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v190_4316 {
  width: 52px;
  height: 16px;
  background: url("../images/v190_4316.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 178px;
  overflow: hidden;
}
.v190_4317 {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  overflow: hidden;
}
.v190_4318 {
  width: 10px;
  height: 10px;
  background: url("../images/v190_4318.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  border: 2px solid rgba(107,114,128,1);
}
.v190_4319 {
  width: 2px;
  height: 4px;
  background: url("../images/v190_4319.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 6px;
  border: 2px solid rgba(107,114,128,1);
}
.v190_4320 {
  width: 36px;
  height: 16px;
  background: url("../images/v190_4320.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 16px;
  overflow: hidden;
}
.v190_4321 {
  width: 36px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v187_4197 {
  width: 339px;
  height: 27px;
  background: url("../images/v187_4197.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 344px;
  left: 14px;
  overflow: hidden;
}
.v187_4198 {
  width: 50px;
  height: 27px;
  background: rgba(209,213,219,1);
  padding: 4px 9px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v187_4199 {
  width: 11px;
  height: 11px;
  background: url("../images/v187_4199.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 9px;
  overflow: hidden;
}
.v187_4200 {
  width: 11px;
  height: 11px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v187_4201 {
  width: 9px;
  height: 9px;
  background: url("../images/v187_4201.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  border: 1.625899314880371px solid rgba(0,0,0,1);
}
.v187_4202 {
  width: 13px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5px;
  left: 27px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 9px;
  opacity: 1;
  text-align: center;
}
.v187_4203 {
  width: 81px;
  height: 27px;
  background: rgba(21,128,61,1);
  padding: 5px 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 57px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v187_4204 {
  width: 11px;
  height: 11px;
  background: url("../images/v187_4204.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 10px;
  overflow: hidden;
}
.v187_4205 {
  width: 11px;
  height: 11px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v187_4206 {
  width: 9px;
  height: 8px;
  background: url("../images/v187_4206.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  border: 1.625899314880371px solid rgba(255,255,255,1);
}
.v187_4207 {
  height: 1px;
  background: url("../images/v187_4207.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 5px;
  border: 1.625899314880371px solid rgba(255,255,255,1);
}
.v187_4208 {
  width: 0px;
  background: url("../images/v187_4208.png");
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 5px;
  border: 1.625899314880371px solid rgba(255,255,255,1);
}
.v187_4209 {
  width: 42px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5px;
  left: 28px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 9px;
  opacity: 1;
  text-align: center;
}
.v187_4210 {
  width: 106px;
  height: 27px;
  background: rgba(0,0,0,0);
  padding: 5px 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 145px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v187_4211 {
  width: 11px;
  height: 11px;
  background: url("../images/v187_4211.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 10px;
  overflow: hidden;
}
.v187_4212 {
  width: 11px;
  height: 11px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v187_4213 {
  height: 4px;
  background: url("../images/v187_4213.png");
  opacity: 1;
  position: absolute;
  top: 4px;
  left: 8px;
  border: 1.625899314880371px solid rgba(0,0,0,1);
}
.v187_4214 {
  height: 7px;
  background: url("../images/v187_4214.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 5px;
  border: 1.625899314880371px solid rgba(0,0,0,1);
}
.v187_4215 {
  height: 2px;
  background: url("../images/v187_4215.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 2px;
  border: 1.625899314880371px solid rgba(0,0,0,1);
}
.v187_4216 {
  width: 67px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5px;
  left: 28px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 9px;
  opacity: 1;
  text-align: center;
}
.v187_4217 {
  width: 81px;
  height: 27px;
  background: rgba(0,0,0,0);
  padding: 5px 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 257px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v187_4218 {
  width: 11px;
  height: 11px;
  background: url("../images/v187_4218.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 10px;
  overflow: hidden;
}
.v187_4219 {
  width: 11px;
  height: 11px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v187_4220 {
  width: 9px;
  height: 9px;
  background: url("../images/v187_4220.png");
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1.625899314880371px solid rgba(0,0,0,1);
}
.v187_4221 {
  width: 6px;
  height: 4px;
  background: url("../images/v187_4221.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 4px;
  border: 1.625899314880371px solid rgba(0,0,0,1);
}
.v187_4222 {
  width: 46px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 5px;
  left: 28px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 9px;
  opacity: 1;
  text-align: center;
}
.v187_4227 {
  width: 68px;
  height: 30px;
  background: rgba(0,0,0,0);
  padding: 6px 11px;
  opacity: 1;
  position: absolute;
  top: 259px;
  left: 96px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v187_4228 {
  width: 45px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 12px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v187_4229 {
  width: 67px;
  height: 30px;
  background: rgba(0,0,0,0);
  padding: 6px 11px;
  opacity: 1;
  position: absolute;
  top: 259px;
  left: 170px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v187_4230 {
  width: 44px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 12px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v187_4231 {
  width: 104px;
  height: 30px;
  background: url("../images/v187_4231.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 259px;
  left: 243px;
  overflow: hidden;
}
.v187_4232 {
  width: 104px;
  height: 30px;
  background: rgba(0,0,0,0);
  padding: 6px 11px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v187_4233 {
  width: 14px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 12px;
  overflow: hidden;
}
.v187_4234 {
  height: 2px;
  background: url("../images/v187_4234.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 5px;
  border: 1.7874659299850464px solid rgba(0,0,0,1);
}
.v187_4235 {
  height: 2px;
  background: url("../images/v187_4235.png");
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 10px;
  border: 1.7874659299850464px solid rgba(0,0,0,1);
}
.v187_4236 {
  width: 10px;
  height: 10px;
  background: url("../images/v187_4236.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  border: 1.7874659299850464px solid rgba(0,0,0,1);
}
.v187_4237 {
  width: 10px;
  background: url("../images/v187_4237.png");
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 2px;
  border: 1.7874659299850464px solid rgba(0,0,0,1);
}
.v187_4238 {
  width: 38px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 34px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.v187_4239 {
  width: 14px;
  height: 14px;
  background: url("../images/v187_4239.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 79px;
  overflow: hidden;
}
.v187_4240 {
  width: 14px;
  height: 14px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v187_4241 {
  width: 7px;
  height: 3px;
  background: url("../images/v187_4241.png");
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 4px;
  border: 1.7874659299850464px solid rgba(0,0,0,1);
}
.v187_4242 {
  width: 365px;
  height: 64px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 736px;
  left: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.v187_4243 {
  width: 360px;
  height: 64px;
  background: url("../images/v187_4243.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v187_4244 {
  width: 75px;
  height: 64px;
  background: url("../images/v187_4244.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v187_4245 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 25px;
  overflow: hidden;
}
.v187_4246 {
  width: 6px;
  height: 9px;
  background: url("../images/v187_4246.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 9px;
  border: 2px solid rgba(107,114,128,1);
}
.v187_4247 {
  width: 18px;
  height: 18px;
  background: url("../images/v187_4247.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 3px;
  border: 2px solid rgba(107,114,128,1);
}
.v187_4248 {
  width: 32px;
  height: 16px;
  background: url("../images/v187_4248.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 21px;
  overflow: hidden;
}
.v187_4249 {
  width: 32px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v187_4250 {
  width: 75px;
  height: 64px;
  background: url("../images/v187_4250.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 75px;
  overflow: hidden;
}
.v187_4251 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 25px;
  overflow: hidden;
}
.v187_4252 {
  width: 7px;
  height: 9px;
  background: url("../images/v187_4252.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 3px;
  border: 2px solid rgba(22,163,74,1);
}
.v187_4253 {
  width: 7px;
  height: 5px;
  background: url("../images/v187_4253.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 14px;
  border: 2px solid rgba(22,163,74,1);
}
.v187_4254 {
  width: 7px;
  height: 9px;
  background: url("../images/v187_4254.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 14px;
  border: 2px solid rgba(22,163,74,1);
}
.v187_4255 {
  width: 7px;
  height: 5px;
  background: url("../images/v187_4255.png");
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 3px;
  border: 2px solid rgba(22,163,74,1);
}
.v187_4256 {
  width: 57px;
  height: 16px;
  background: url("../images/v187_4256.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 8px;
  overflow: hidden;
}
.v187_4257 {
  width: 57px;
  color: rgba(22,163,74,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v187_4258 {
  width: 75px;
  height: 64px;
  background: url("../images/v187_4258.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 150px;
  overflow: hidden;
}
.v187_4259 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 25px;
  overflow: hidden;
}
.v187_4260 {
  width: 0px;
  background: url("../images/v187_4260.png");
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 12px;
  border: 2px solid rgba(107,114,128,1);
}
.v187_4261 {
  height: 4px;
  background: url("../images/v187_4261.png");
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 12px;
  border: 2px solid rgba(107,114,128,1);
}
.v187_4262 {
  width: 20px;
  height: 20px;
  background: url("../images/v187_4262.png");
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
  border: 2px solid rgba(107,114,128,1);
}
.v187_4263 {
  width: 42px;
  height: 16px;
  background: url("../images/v187_4263.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 16px;
  overflow: hidden;
}
.v187_4264 {
  width: 42px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v187_4265 {
  width: 75px;
  height: 64px;
  background: url("../images/v187_4265.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 225px;
  overflow: hidden;
}
.v187_4266 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 25px;
  overflow: hidden;
}
.v187_4267 {
  width: 0px;
  background: url("../images/v187_4267.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 3px;
  border: 2px solid rgba(107,114,128,1);
}
.v187_4268 {
  width: 0px;
  background: url("../images/v187_4268.png");
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 3px;
  border: 2px solid rgba(107,114,128,1);
}
.v187_4269 {
  width: 0px;
  background: url("../images/v187_4269.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 3px;
  border: 2px solid rgba(107,114,128,1);
}
.v187_4270 {
  width: 13px;
  background: url("../images/v187_4270.png");
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 8px;
  border: 2px solid rgba(107,114,128,1);
}
.v187_4271 {
  width: 13px;
  background: url("../images/v187_4271.png");
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 8px;
  border: 2px solid rgba(107,114,128,1);
}
.v187_4272 {
  width: 13px;
  background: url("../images/v187_4272.png");
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 8px;
  border: 2px solid rgba(107,114,128,1);
}
.v187_4273 {
  width: 40px;
  height: 16px;
  background: url("../images/v187_4273.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 17px;
  overflow: hidden;
}
.v187_4274 {
  width: 40px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
.v187_4275 {
  width: 75px;
  height: 64px;
  background: url("../images/v187_4275.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 300px;
  overflow: hidden;
}
.v187_4276 {
  width: 24px;
  height: 24px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 25px;
  overflow: hidden;
}
.v187_4277 {
  width: 14px;
  height: 6px;
  background: url("../images/v187_4277.png");
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 5px;
  border: 2px solid rgba(107,114,128,1);
}
.v187_4278 {
  width: 8px;
  height: 8px;
  background: url("../images/v187_4278.png");
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 8px;
  border: 2px solid rgba(107,114,128,1);
}
.v187_4279 {
  width: 33px;
  height: 16px;
  background: url("../images/v187_4279.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 38px;
  left: 20px;
  overflow: hidden;
}
.v187_4280 {
  width: 33px;
  color: rgba(107,114,128,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 10px;
  opacity: 1;
  text-align: left;
}
